@use 'sass:math';

/// Convert px unit to em.
/// @param {number} $num Number in pixels.
@function inEm($num, $browser-font-size: $html-font-size, $increase-percent: 0) {
	$calc-num: $num + calc($num * $increase-percent / 100);
	@return math.div($calc-num, $browser-font-size) * 1em;
}

@function inEmMob($num, $browser-font-size: $html-font-size-sm, $increase-percent: 0) {
	$calc-num: $num + calc($num * $increase-percent / 100);
	@return math.div($calc-num, $browser-font-size) * 1em;
}

/// Convert px unit to rem.
/// @param {number} $num Number in pixels.
@function inRem($num, $browser-font-size: $html-font-size) {
	@return math.div($num, $browser-font-size) * 1rem;
}

/// Strips unit from number.
/// @param {number} $num Number.
@function stripUnit($num) {
	@return math.div($num, ($num * 0 + 1));
}

@function fsInEm($num, $browser-font-size: $html-font-size) {
	$calc: math.div($num, $browser-font-size) * 1em;
	@return clamp(12px, $calc, 72px);
}

@function lh($num, $browser-font-size: $html-font-size) {
	@return calc(1 / $browser-font-size) * $num * 1em;
}
