@use 'sass:selector';

@mixin unify-parent($child) {

  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

@mixin mouseover {

	@media (hover: hover) {

		&:hover {
			@content;
		}
	}
}

@mixin hover {
	cursor: pointer;
	transition: opacity $transition-duration;

	@include mouseover {
		opacity: 0.7;
	}
}

@mixin gallery-hover {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
		transition: opacity $transition-duration;
	}

	@include mouseover {

		&::after {
			opacity: 0;
		}
	}
}

@mixin clip-gallery {
	clip-path: polygon( 3.935% 0.291%,3.935% 0.291%,3.686% 0.272%,3.362% 0.275%,2.977% 0.297%,2.55% 0.335%,2.096% 0.386%,1.631% 0.445%,1.173% 0.509%,0.738% 0.575%,0.341% 0.639%,0% 0.697%,0% 0.697%,0.019% 4.505%,0.042% 8.82%,0.068% 13.437%,0.095% 18.15%,0.124% 22.753%,0.153% 27.039%,0.182% 30.804%,0.209% 33.84%,0.234% 35.942%,0.257% 36.905%,0.257% 36.905%,0.282% 37.231%,0.316% 37.558%,0.358% 37.88%,0.404% 38.194%,0.453% 38.493%,0.504% 38.773%,0.555% 39.029%,0.603% 39.257%,0.647% 39.451%,0.684% 39.607%,0.684% 39.607%,0.869% 40.429%,0.97% 41.33%,1.007% 42.279%,0.995% 43.241%,0.952% 44.184%,0.894% 45.074%,0.838% 45.879%,0.802% 46.564%,0.802% 47.096%,0.855% 47.444%,0.855% 47.444%,1.034% 48.079%,1.163% 48.798%,1.25% 49.567%,1.302% 50.355%,1.326% 51.129%,1.33% 51.856%,1.32% 52.505%,1.304% 53.043%,1.29% 53.438%,1.283% 53.658%,1.283% 53.658%,1.291% 53.77%,1.312% 53.869%,1.346% 53.969%,1.39% 54.08%,1.444% 54.216%,1.505% 54.388%,1.572% 54.609%,1.644% 54.891%,1.72% 55.245%,1.796% 55.685%,1.796% 55.685%,1.856% 56.163%,1.887% 56.621%,1.893% 57.057%,1.883% 57.466%,1.861% 57.847%,1.833% 58.195%,1.807% 58.507%,1.788% 58.781%,1.783% 59.012%,1.796% 59.198%,1.796% 59.198%,1.841% 59.368%,1.916% 59.557%,2.012% 59.764%,2.118% 59.993%,2.224% 60.245%,2.32% 60.521%,2.395% 60.823%,2.44% 61.152%,2.443% 61.511%,2.395% 61.9%,2.395% 61.9%,2.307% 62.2%,2.173% 62.456%,2.001% 62.669%,1.8% 62.843%,1.58% 62.981%,1.351% 63.087%,1.12% 63.164%,0.897% 63.214%,0.692% 63.242%,0.513% 63.251%,0.513% 70.006%,0.513% 70.006%,0.525% 71.3%,0.558% 72.932%,0.608% 74.81%,0.669% 76.844%,0.738% 78.94%,0.809% 81.008%,0.878% 82.956%,0.94% 84.693%,0.991% 86.126%,1.027% 87.165%,1.027% 87.165%,1.059% 87.872%,1.105% 88.401%,1.159% 88.79%,1.22% 89.08%,1.283% 89.31%,1.347% 89.519%,1.407% 89.748%,1.462% 90.036%,1.507% 90.422%,1.54% 90.948%,1.54% 90.948%,1.543% 91.419%,1.513% 91.859%,1.458% 92.266%,1.38% 92.638%,1.287% 92.974%,1.184% 93.273%,1.075% 93.532%,0.966% 93.749%,0.863% 93.924%,0.77% 94.055%,0.855% 100%,15.911% 99.73%,15.911% 99.73%,16.589% 99.688%,17.368% 99.647%,18.213% 99.609%,19.091% 99.578%,19.966% 99.558%,20.804% 99.551%,21.57% 99.561%,22.231% 99.592%,22.751% 99.647%,23.097% 99.73%,23.097% 99.73%,23.428% 99.835%,23.799% 99.909%,24.196% 99.952%,24.608% 99.965%,25.021% 99.949%,25.425% 99.905%,25.806% 99.833%,26.152% 99.734%,26.45% 99.609%,26.689% 99.46%,26.689% 99.46%,26.947% 99.309%,27.292% 99.182%,27.7% 99.075%,28.146% 98.988%,28.603% 98.919%,29.048% 98.866%,29.455% 98.828%,29.799% 98.803%,30.055% 98.789%,30.197% 98.784%,30.197% 98.784%,30.26% 98.797%,30.327% 98.833%,30.395% 98.888%,30.463% 98.957%,30.53% 99.037%,30.595% 99.125%,30.655% 99.214%,30.709% 99.303%,30.757% 99.386%,30.796% 99.46%,35.586% 99.46%,35.586% 99.46%,36.012% 99.456%,36.948% 99.446%,38.269% 99.43%,39.849% 99.412%,41.563% 99.392%,43.285% 99.372%,44.888% 99.354%,46.248% 99.339%,47.238% 99.328%,47.733% 99.325%,47.733% 99.325%,48.195% 99.294%,49.098% 99.21%,50.333% 99.084%,51.793% 98.927%,53.368% 98.75%,54.952% 98.566%,56.434% 98.385%,57.708% 98.218%,58.665% 98.077%,59.196% 97.974%,59.196% 97.974%,59.483% 97.916%,59.777% 97.899%,60.075% 97.916%,60.374% 97.961%,60.671% 98.024%,60.964% 98.1%,61.247% 98.181%,61.52% 98.259%,61.778% 98.327%,62.019% 98.379%,62.019% 98.379%,62.23% 98.385%,62.406% 98.332%,62.552% 98.234%,62.674% 98.104%,62.778% 97.957%,62.869% 97.805%,62.952% 97.663%,63.034% 97.544%,63.121% 97.463%,63.216% 97.433%,63.216% 97.433%,63.307% 97.453%,63.375% 97.509%,63.425% 97.597%,63.46% 97.714%,63.484% 97.855%,63.5% 98.017%,63.512% 98.194%,63.523% 98.384%,63.538% 98.582%,63.559% 98.784%,63.559% 98.784%,63.599% 98.932%,63.674% 99.052%,63.777% 99.148%,63.903% 99.221%,64.044% 99.274%,64.194% 99.31%,64.347% 99.33%,64.496% 99.338%,64.635% 99.335%,64.756% 99.325%,64.756% 99.325%,68.01% 99.324%,71.702% 99.321%,75.657% 99.316%,79.699% 99.308%,83.653% 99.297%,87.344% 99.284%,90.598% 99.266%,93.238% 99.245%,95.09% 99.219%,95.979% 99.189%,95.979% 99.189%,96.33% 99.149%,96.682% 99.095%,97.029% 99.03%,97.366% 98.957%,97.688% 98.879%,97.99% 98.798%,98.266% 98.719%,98.511% 98.643%,98.72% 98.574%,98.888% 98.514%,98.888% 98.514%,98.868% 98.365%,98.844% 98.193%,98.815% 98.006%,98.782% 97.811%,98.747% 97.616%,98.709% 97.427%,98.669% 97.253%,98.628% 97.101%,98.587% 96.978%,98.546% 96.893%,98.546% 96.893%,98.487% 96.804%,98.412% 96.705%,98.323% 96.598%,98.217% 96.491%,98.097% 96.386%,97.961% 96.29%,97.809% 96.206%,97.642% 96.14%,97.46% 96.097%,97.263% 96.082%,97.263% 96.082%,97.094% 96.067%,96.92% 96.024%,96.742% 95.958%,96.566% 95.874%,96.394% 95.778%,96.23% 95.673%,96.078% 95.566%,95.94% 95.459%,95.82% 95.36%,95.723% 95.271%,95.723% 95.271%,95.764% 95.178%,95.819% 95.061%,95.886% 94.924%,95.965% 94.771%,96.056% 94.602%,96.159% 94.423%,96.271% 94.235%,96.393% 94.042%,96.524% 93.846%,96.664% 93.65%,96.664% 93.65%,96.849% 93.58%,97.068% 93.561%,97.315% 93.585%,97.579% 93.644%,97.853% 93.731%,98.127% 93.839%,98.394% 93.959%,98.644% 94.086%,98.868% 94.21%,99.059% 94.325%,99.316% 78.113%,99.316% 78.113%,99.288% 77.722%,99.256% 77.234%,99.223% 76.659%,99.188% 76.01%,99.155% 75.299%,99.125% 74.538%,99.098% 73.737%,99.078% 72.91%,99.064% 72.068%,99.059% 71.222%,99.059% 71.222%,99.069% 70.374%,99.096% 69.525%,99.138% 68.687%,99.19% 67.872%,99.251% 67.095%,99.318% 66.366%,99.386% 65.699%,99.453% 65.107%,99.516% 64.602%,99.572% 64.197%,99.572% 57.306%,99.572% 57.306%,99.516% 56.857%,99.453% 56.333%,99.386% 55.756%,99.318% 55.148%,99.251% 54.53%,99.19% 53.923%,99.138% 53.349%,99.096% 52.829%,99.069% 52.385%,99.059% 52.037%,99.059% 52.037%,99.057% 51.715%,99.053% 51.343%,99.046% 50.932%,99.037% 50.497%,99.027% 50.051%,99.016% 49.607%,99.005% 49.179%,98.993% 48.779%,98.983% 48.421%,98.973% 48.119%,98.973% 48.119%,98.956% 47.649%,98.938% 47.089%,98.922% 46.459%,98.909% 45.779%,98.901% 45.069%,98.898% 44.349%,98.902% 43.639%,98.915% 42.96%,98.939% 42.329%,98.973% 41.769%,98.973% 41.769%,99.179% 41.338%,99.348% 40.779%,99.482% 40.118%,99.586% 39.383%,99.662% 38.604%,99.714% 37.808%,99.744% 37.023%,99.757% 36.277%,99.756% 35.598%,99.743% 35.014%,99.743% 35.014%,99.771% 32.529%,99.803% 29.704%,99.837% 26.669%,99.871% 23.558%,99.904% 20.503%,99.934% 17.636%,99.961% 15.09%,99.982% 12.995%,99.995% 11.486%,100% 10.695%,100% 10.695%,99.995% 10.111%,99.982% 9.366%,99.963% 8.509%,99.94% 7.59%,99.915% 6.658%,99.889% 5.763%,99.866% 4.953%,99.847% 4.279%,99.834% 3.789%,99.829% 3.534%,99.829% 3.534%,99.816% 3.446%,99.78% 3.377%,99.724% 3.324%,99.654% 3.286%,99.572% 3.26%,99.484% 3.246%,99.393% 3.241%,99.303% 3.243%,99.219% 3.252%,99.144% 3.264%,99.144% 3.264%,99.126% 3.142%,99.105% 2.995%,99.082% 2.828%,99.06% 2.645%,99.038% 2.453%,99.017% 2.255%,99% 2.057%,98.986% 1.863%,98.977% 1.678%,98.973% 1.507%,98.973% 1.507%,98.965% 1.357%,98.943% 1.23%,98.908% 1.123%,98.864% 1.036%,98.813% 0.967%,98.758% 0.914%,98.701% 0.876%,98.645% 0.85%,98.592% 0.836%,98.546% 0.832%,98.546% 0.832%,95.215% 0.816%,91.432% 0.797%,87.375% 0.774%,83.223% 0.748%,79.153% 0.72%,75.345% 0.69%,71.977% 0.659%,69.227% 0.627%,67.274% 0.594%,66.296% 0.562%,66.296% 0.562%,65.751% 0.552%,65.197% 0.596%,64.642% 0.684%,64.094% 0.806%,63.559% 0.95%,63.044% 1.106%,62.557% 1.264%,62.105% 1.413%,61.695% 1.543%,61.335% 1.642%,61.335% 1.642%,61.023% 1.693%,60.749% 1.69%,60.507% 1.645%,60.287% 1.569%,60.083% 1.474%,59.887% 1.37%,59.691% 1.27%,59.487% 1.184%,59.267% 1.124%,59.025% 1.102%,59.025% 1.102%,58.761% 1.106%,58.485% 1.115%,58.202% 1.127%,57.913% 1.141%,57.624% 1.153%,57.337% 1.16%,57.057% 1.162%,56.786% 1.154%,56.528% 1.135%,56.287% 1.102%,56.287% 1.102%,56.066% 1.062%,55.78% 1.007%,55.444% 0.942%,55.072% 0.869%,54.677% 0.791%,54.275% 0.711%,53.878% 0.631%,53.502% 0.555%,53.16% 0.486%,52.866% 0.426%,52.866% 0.426%,48.537% 0.368%,43.646% 0.305%,38.43% 0.239%,33.126% 0.175%,27.973% 0.116%,23.205% 0.065%,19.062% 0.027%,15.78% 0.004%,13.595% 0.001%,12.746% 0.021%,12.746% 0.021%,12.627% 0.081%,12.524% 0.175%,12.433% 0.296%,12.348% 0.438%,12.265% 0.595%,12.179% 0.76%,12.087% 0.927%,11.982% 1.089%,11.861% 1.239%,11.719% 1.372%,11.719% 1.372%,11.581% 1.455%,11.416% 1.51%,11.231% 1.541%,11.033% 1.551%,10.828% 1.544%,10.622% 1.524%,10.422% 1.493%,10.235% 1.455%,10.066% 1.414%,9.923% 1.372%,9.923% 1.372%,9.984% 1.508%,10.046% 1.669%,10.102% 1.849%,10.147% 2.041%,10.178% 2.24%,10.187% 2.44%,10.172% 2.635%,10.126% 2.819%,10.045% 2.985%,9.923% 3.129%,9.923% 3.129%,9.699% 3.22%,9.481% 3.183%,9.27% 3.037%,9.069% 2.804%,8.882% 2.504%,8.708% 2.156%,8.553% 1.781%,8.416% 1.399%,8.302% 1.031%,8.212% 0.697%,6.929% 0.697%,6.929% 0.697%,6.789% 0.685%,6.629% 0.654%,6.454% 0.609%,6.271% 0.554%,6.084% 0.494%,5.9% 0.434%,5.725% 0.379%,5.563% 0.333%,5.421% 0.303%,5.304% 0.291%,5.304% 0.291%,5.205% 0.295%,5.112% 0.304%,5.019% 0.317%,4.92% 0.33%,4.812% 0.342%,4.688% 0.35%,4.543% 0.351%,4.373% 0.343%,4.172% 0.324%,3.935% 0.291% );
}

@mixin ellipse($width) {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: $width;
}

@mixin rows-limit($rows) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $rows;
	line-clamp: $rows;
	-webkit-box-orient: vertical;
}

@mixin loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 48px;
	height: 48px;
	border: 5px solid $white;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@mixin gallery-nav($offset: 0) {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: filter 0.1s;

	@include mouseover {
		filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg) brightness(104%) contrast(102%);
	}

	&_prev {
		left: $offset;
		background-image: url($img-path + '/prev.svg');
	}

	&_next {
		right: $offset;
		background-image: url($img-path + '/next.svg');
	}
}

@mixin pagination($border: transparent) {
	.swiper-pagination-bullet {
		opacity: 1;
		border-radius: 0;
		border: 1px solid $border;
		width: 8px;
		height: 8px;
		background: $brown;
		transition: transform $transition-duration, background $transition-duration;

		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	.swiper-pagination-bullet-active {
		background: $yellow;
		transform: scale(1.3);
	}
}
