// Fonts
$font-family-primary: 'Mulish', sans-serif;

// Font sizes
$html-font-size: 20px;
$html-font-size-sm: 16px;

$base-font-size: 1.389vw;
$base-font-size-lg: 1.6vw;
$font-size-calc-md: 16px;

// Colors
$white: #FFF;
$bg-white: #F5F5F5;
$o-black: #000;
$black: #1B1918;
$dark-blue: #03052C;
$blue: #0152D4;
$d-blue: #1C72DE;
$red: #E31E34;
$pale-turq: #6DC9EA;
$turq: #52DFFE;
$purple: #7C7FEE;

$blue-gradient: linear-gradient(180deg, #4EE3FF 0%, #65C7F7 40.09%, #0052D4 80.18%);
$blue-gradient-2: linear-gradient(299.74deg, #4EE3FF -159.03%, #65C7F7 -47.7%, #0052D4 63.64%);
$red-gradient: linear-gradient(97.62deg, #1B1818 5.38%, #E31E34 91.49%);

$base-container-width: 1440px;
$max-container-width: 1920px;

$base-outer-padding-desktop: inRem(60px);
$base-outer-padding-mobile: inEmMob(16px);

$img-path: '../images';

$transition-duration: 0.3s;
