// Fonts
$natasha: 'Natasha', sans-serif;

// Font sizes
$html-font-size: 20px;
$html-font-size-sm: 16px;

$base-font-size: 1.389vw;
$base-font-size-lg: 1.6vw;
$font-size-calc-md: 16px;

// Colors
$white: #FFF;
$black: #000;

$img-path: '../images';

$transition-duration: 0.3s;
