.cc-about-advantages {
	margin-top: inEm(191px);
	color: $black;

	@include md-down {
		margin-top: inEmMob(120px);
	}

	&__title-container {
		margin-bottom: inEm(114px);

		@include md-down {
			margin-bottom: inEmMob(45px);
		}
	}

	&__title {
		color: $black;

		@include md-up {
			text-align: left;
		}
	}

	&__items {
		column-gap: inEm(20px);
		row-gap: inEm(60px);

		@include md-down {
			margin-bottom: inEmMob(35px);
		}
	}

	&__item {

		@include md-up {
			width: inEm(516px);

			&:nth-child(5n+3) {
				margin-left: inEm(250px);
			}

			&:nth-child(5n+5) {
				margin-left: inEm(536px);
			}
		}
	}

	&__image-container {
		width: inEm(60px);
		height: inEm(60px);
		margin-bottom: inEm(15px);

		@include md-down {
			width: inEmMob(50px);
			height: inEmMob(50px);
			margin-bottom: inEmMob(20px);
		}
	}

	&__item-title-container {
		margin-bottom: inEm(15px);

		@include md-down {
			margin-bottom: inEmMob(15px);
		}
	}

	&__item-description {
		font-size: inEm(22px);
		line-height: lh(26.4px, 22px);

		@include md-down {
			font-size: inEmMob(15px);
		}
	}
}
