.cc-contacts {
	$root: &;

	margin-top: inEm(60px);
	padding-bottom: inEm(175px);

	@include md-down {
		margin-top: inEmMob(40px);
		margin-bottom: inEmMob(-21px);
		padding-bottom: 0;
	}

	&__select-heading-container {

		@include md-down {
			margin-bottom: inEmMob(10px);
		}
	}

	&__select-heading {

		@include md-down {
			font-size: inEmMob(15px);
			line-height: 1.1em;
			color: $black;
		}
	}

	&__items {

		@include md-down {
			margin-top: inEmMob(90px);
		}
	}

	&__select-container {

		&_active {

			#{$root} {

				&__select-list-container {
					visibility: visible;
					opacity: 1;
					transition: opacity $transition-duration;
				}

				&__select-image {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__select {
		cursor: pointer;
		background: $red;
		padding: inEm(25px) inEm(100px) inEm(25px) inEm(40px);
		border-radius: inEm(70px);
		width: 100%;
		text-align: left;

		@include md-down {
			padding: inEmMob(25px) inEmMob(48px) inEmMob(25px) inEmMob(15px);
			border-radius: inEmMob(70px);
		}

		span {
			display: block;
			pointer-events: none;
		}
	}

	&__select-image {
		position: absolute;
		width: inEm(22px);
		height: inEm(22px);
		top: 0;
		bottom: 0;
		right: inEm(40px);
		margin-block: auto;
		transition: transform $transition-duration;

		@include md-down {
			width: inEmMob(18px);
			height: inEmMob(18px);
			right: inEmMob(15px);
		}
	}

	&__select-title {
		color: $white;
		font-size: inEm(22px);
		line-height: 1em;
		font-weight: 700;
		text-transform: uppercase;

		@include md-down {
			font-size: inEmMob(18px);
		}
	}

	&__select-list-container {
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		background: $white;
		top: calc(100% + #{inEm(10px)});
		left: 0;
		right: 0;
		padding: inEm(40px) inEm(5px) inEm(40px) 0;
		border-radius: inEm(20px);
		box-shadow: 0 inEm(7px) inEm(22px) 0 #00000066;

		@include md-down {
			padding: inEmMob(16px) inEmMob(4px) inEmMob(16px) 0;
		}
	}

	&__select-list-wrapper {
		padding-left: inEm(40px);
		padding-right: inEm(35px);
		height: inEm(508px);
		max-height: 80dvh;
		overflow-y: auto;
		scroll-behavior: smooth;
		scrollbar-color: $red transparent;
		scrollbar-width: thin;

		@include md-down {
			padding-left: inEmMob(16px);
			padding-right: inEmMob(12px);
			height: auto;
		}

		&::-webkit-scrollbar {
			width: inEm(5px);

			@include md-down {
				width: inEmMob(4px);
			}
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $red;
			border-radius: inEm(50px);

			@include md-down {
				border-radius: inEmMob(50px);
			}
		}
	}

	&__select-list {
		height: 100%;
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		column-gap: inEm(20px);
		row-gap: inEm(20px);

		@include md-down {
			display: flex;
			row-gap: inEmMob(8px);
		}
	}

	&__select-item {
		cursor: pointer;
		font-size: inEm(16px);
		line-height: 1em;
		font-weight: 700;
		color: $black;
		width: inEm(295px, 16px);
		padding: inEm(10px, 16px);
		text-transform: uppercase;
		border-radius: inEm(40px, 16px);
		transition: background $transition-duration, color $transition-duration;

		@include md-down {
			font-size: inEmMob(13px);
			width: 100%;
			padding: inEmMob(14px, 13px) inEmMob(16px, 13px);
			border-radius: inEmMob(32px, 13px);
		}

		&_active {
			pointer-events: none;
			background: $red;
			color: $white;
		}
	}

	&__items-group {
		display: none;
		opacity: 0;
		transition: opacity $transition-duration;

		&_prepare {
			display: block;
		}

		&_active {
			opacity: 1;
		}
	}

	&__item {

		&:not(:last-child) {
			margin-bottom: inEm(60px);

			@include md-down {
				margin-bottom: inEmMob(60px);
			}
		}
	}

	.cc-contact-item__item:nth-child(2) {

		@include md-down {
			border: none;
		}
	}
}
