.cc-event-items {

	&_home & {

		&__wrapper {
			position: relative;
			padding-top: inEm(180px);
			margin-bottom: inEm(-40px);

			@include md-down {
				padding-top: inEmMob(120px);
				margin-bottom: inEmMob(-10px);
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				background: $turq;
				border-radius: 50%;
			}

			&::before {
				width: inEm(780px);
				height: inEm(780px);
				top: inEm(-422px);
				right: inEm(-306px);
				opacity: 0.7;
				filter: blur(inEm(215.5px));

				@include md-down {
					width: inEmMob(443px);
					height: inEmMob(443px);
					top: inEmMob(-302px);
					left: -100vw;
					right: -100vw;
					margin-inline: auto;
					filter: blur(inEm(122.4px));
				}
			}

			&::after {
				width: inEm(1631px);
				height: inEm(1631px);
				left: inEm(-654px);
				bottom: inEm(-473px);
				opacity: 0.8;
				filter: blur(inEm(367px));

				@include md-down {
					width: inEmMob(528px);
					height: inEmMob(528px);
					left: inEmMob(-263px);
					bottom: inEmMob(-263px);
					filter: blur(119px);
				}
			}
		}

		&__items {
			z-index: 1;
		}
	}

	&_events {
		margin-top: inEm(180px);
	}

	&__title-container {
		position: relative;
		margin-bottom: inEm(60px);

		@include md-down {
			margin-bottom: inEmMob(45px);
		}
	}

	&__items {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: inEm(40px);
		margin-bottom: inEm(-40px);

		@include lg-down {
			column-gap: inEmMob(20px);
			margin-bottom: inEm(-20px);
		}

		@include md-down {
			column-gap: inEmMob(10px);
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: inEm(-10px);
		}
	}

	&__item {
		overflow: hidden;
		border-radius: inEm(20px);
		margin-bottom: inEm(40px);

		@include lg-down {
			margin-bottom: inEmMob(20px);
		}

		@include md-down {
			margin-bottom: inEmMob(10px);
		}

		&:nth-child(10n+1) {
			grid-column: 1 / 4;
			height: inEm(514px);

			@include md-down {
				grid-column: 1 / 3;
				height: 70.5vw;
			}
		}

		&:nth-child(10n+2),
		&:nth-child(10n+3),
		&:nth-child(10n+4) {
			height: inEm(510px);

			@include md-down {
				height: 54vw;
			}
		}

		&:nth-child(10n+5) {
			grid-column: 1 / 3;
			height: inEm(690px);

			@include md-down {
				height: 71.5vw;
			}
		}

		&:nth-child(10n+6),
		&:nth-child(10n+7) {
			grid-column: 3 / 4;
			height: inEm(325px);

			@include md-down {
				grid-column: auto;
				height: 43.5vw;
			}
		}

		&:nth-child(10n+6) {

			@include md-down {
				height: 54vw;
			}
		}

		&:nth-child(10n+7) {
			margin-top: calc(#{inEm(-325px)} - #{inEm(40px)});

			@include md-down {
				margin-top: 0;
			}
		}

		&:nth-child(10n+8),
		&:nth-child(10n+9),
		&:nth-child(10n+10) {
			height: inEm(413px);

			@include md-down {
				height: 43.5vw;
			}
		}

		@include md-down {

			@for $i from 0 through 5 {
				$order: $i * 10 + 5;
				&:nth-child(#{$order}) {
					order: #{$order + 2} !important;
				}
			}
		}
	}
}
