.cc-feedback {
	position: relative;
	padding-top: inEm(180px);

	@include md-down {
		padding-top: inEmMob(120px);
	}

	&_home {

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: inEm(-400px);
			background: linear-gradient(to bottom, $blue 0%, $blue calc(100% - #{inEm(400px)} - #{inEm(163px)}), rgba($blue, 0) 100%);
		}
	}

	&_home & {

		&__wrapper {
			position: relative;
			z-index: 1;
		}
	}

	&__title-container {
		position: relative;
		margin-bottom: inEm(90px);

		@include md-down {
			margin-bottom: inEmMob(45px);
		}
	}

	&__title {
		color: $white;
	}

	&__slider {
		overflow: hidden;
	}

	&__item {
		padding-inline: inEm(40px);

		@include md-down {
			padding-inline: 0;
		}
	}

	&__item-upper {
		margin-bottom: inEm(20px);

		@include md-down {
			margin-bottom: inEmMob(20px);
		}
	}

	&__item-image-container {
		width: inEm(60px);
		height: inEm(60px);
		border-radius: 50%;
		overflow: hidden;
		margin-right: inEm(20px);
		flex-shrink: 0;

		@include md-down {
			width: inEmMob(60px);
			height: inEmMob(60px);
			margin-right: inEmMob(20px);
		}
	}

	&__item-title {
		text-transform: uppercase;
		font-size: inEm(20px);
		line-height: 0.95em;
		letter-spacing: lh(-0.8px, 20px);
		font-weight: 800;
		color: $white;
		word-spacing: 1000px;

		@include md-down {
			font-size: inEmMob(18px);
			letter-spacing: lh(-0.72px, 18px);
		}
	}

	&__item-text-container {
		margin-top: inEm(20px);

		@include md-down {
			margin-top: inEmMob(20px);
		}
	}

	&__item-description {
		font-size: inEm(15px);
		line-height: 1.4em;
		color: $white;

		@include md-down {
			font-size: inEmMob(15px);
		}
	}

	&__item-button {
		margin-top: inEm(20px);

		@include md-down {
			margin-top: inEmMob(20px);
		}
	}

	&__pagination {
		display: flex;
		flex-wrap: wrap;

		&:not(.swiper-pagination-lock) {
			margin-top: inEm(40px);

			@include md-down {
				margin-top: inEmMob(45px);
			}
		}
	}

	&__nav-container {
		position: relative;
		column-gap: inEm(10px);

		@include md-down {
			column-gap: inEmMob(10px);
		}
	}

	&__nav {
		width: inEm(50px);
		height: inEm(50px);
		border: 1px solid $white;
		border-radius: 50%;
		transition: background $transition-duration, border-color $transition-duration;

		@include md-down {
			width: inEmMob(50px);
			height: inEmMob(50px);
		}

		&:not(.swiper-button-lock) {
			margin-top: inEm(40px);

			@include md-down {
				margin-top: inEmMob(45px);
			}
		}

		@include mouseover {
			background: $red;
			border-color: $red;
		}

		svg {
			width: inEm(22px);
			height: inEm(20px);

			@include md-down {
				width: inEmMob(22px);
				height: inEmMob(20px);
			}
		}
	}
}
