.cc-gallery-modal {
	$root: &;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba($o-black, 0.9);
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity $transition-duration;

	&_prepare {
		display: flex;
	}

	&_active {
		opacity: 1;
	}

	&_slider-disabled & {

		&__nav, &__pagination {
			display: none;
		}
	}

	.cc-gallery-grid__item-image {
		display: none;
	}

	img, video {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		max-height: min(75dvh, 1000px);
		object-fit: contain;
	}

	img {
		display: block !important;
	}

	iframe, video {
		position: relative;
		display: block;
		min-width: min(70dvw, 1200px);
	}

	iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}

	&__container {
		width: max-content;
		max-width: min(70dvw, 1200px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include md-down {
			max-width: calc(100% - 40px);
		}

		.swiper-wrapper {
			align-items: center;
		}
	}

	&__slide-item {

		&_video {

			#{$root} {

				&__image-container {
					position: relative;
					max-height: min(75dvh, 1000px);

					&::before {
						content: '';
						@include loader;
					}

					img {
						display: none;
					}
				}
			}
		}
	}

	&__image {
		position: relative;
		max-height: min(75dvh, 1000px);
		width: max-content;
		max-width: 100%;
		flex-basis: 0;

		&::before {
			content: '';
			@include loader;
		}
	}

	&__close {
		position: absolute;
		top: 32px;
		right: 32px;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url($img-path + '/exit.svg');
		cursor: pointer;

		@include md-down {
			top: 20px;
			right: 20px;
		}
	}

	&__caption {
		width: 0;
		min-width: 100%;
		flex-direction: column;
		font-size: inEm(18px);
		line-height: normal;
		margin-top: inEm(15px, 18px);
		@include rows-limit(4);
		display: flex;
		color: $white;
		text-transform: uppercase;
		font-weight: 800;

		&:empty {
			display: none;
		}

		@include md-down {
			font-size: 14px;
			margin-top: 8px;
		}

		.cc-gallery-grid__item-title {

			@include md-down {
				display: block;
				font-size: 14px;
				font-weight: 400;
				margin-top: 0;
			}
		}
	}

	&__pagination {
		order: -1;
		margin-bottom: 8px;
	}

	&__pagination-total {
		color: $black;
	}

	&__nav {
		width: 33px;
		height: 59px;

		@include md-down {
			display: none;
		}
	}
}
