.cc-header {
	$root: &;
	$paddings: inEm(30px);

	position: relative;
	z-index: 2;
	background: $dark-blue;
	padding-inline: $paddings;
	border-radius: 0 0 inEm(20px) inEm(20px);

	@include md-down {
		padding-inline: inEmMob(10px);
		border-radius: 0 0 inEmMob(20px) inEmMob(20px);
	}

	&_dark {
		background: $dark;
		border-bottom: 1px solid $gold;

		.cc-city-picker {

			&__button {
				background: $gold;
			}
		}

		.cc-button-cta {
			background: $gold;

			@include mouseover {
				background: $white;

				.cc-button-cta__title {
					color: $gold;
				}
			}

			&__title {
				color: $white;
			}
		}

		.cc-dropdown__list-button_active {
			background: $gold;
		}
	}
	&_dark & {

		&__submenu {
			background: $dark;
		}
	}

	&__wrapper {
		width: 100%;
		max-width: calc($base-container-width - $paddings);
		margin-inline: auto;
	}

	&__upper {
		min-height: inEm(68px);

		@include md-down {
			min-height: inEmMob(60px);
		}
	}

	&__address {
		margin-left: inEm(30px);

		@include md-down {
			display: none;
		}
	}

	&__logo {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: inEm(105px);
		height: inEm(56px);

		@include md-down {
			z-index: 1;
			width: inEmMob(83px);
			height: inEmMob(44px);
		}
	}

	&__items {
		column-gap: inEm(30px);

		@include md-down {
			column-gap: inEmMob(10px);
		}
	}

	@include md-down {

		.cc-contacts-item {

			&_time {
				display: none;
			}

			&_phone {
				background: $red;
				width: inEmMob(44px);
				height: inEmMob(44px);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				.cc-contacts-item__item-icon {
					width: inEmMob(24px);
					height: inEmMob(24px);
					margin-right: 0;
				}

				.cc-contacts-item__item-value {
					display: none;
				}
			}
		}
	}

	&__menu-button {
		display: none;

		@include md-down {
			display: flex;
			justify-content: center;
			align-items: center;
			background: $red;
			width: inEmMob(44px);
			height: inEmMob(44px);
			border-radius: 50%;

			svg {
				width: inEmMob(24px);
				height: inEmMob(24px);
			}
		}

		svg {
			pointer-events: none;
		}
	}

	&__cta {
		margin-left: inEm(38px);

		@include md-down {
			display: none;
		}
	}

	&__lower {
		padding-top: inEm(5px);
		padding-bottom: inEm(16px);

		@include md-down {
			display: none;
		}
	}

	&__nav {
		width: 100%;
	}

	&__menu {
		margin-inline: inEm(-5px);
		column-gap: inEm(47px);
		row-gap: inEm(10px);
	}

	&__menu-item {
		position: relative;

		&_active {

			#{$root} {

				&__menu-link {
					pointer-events: none;
					font-weight: 900;
				}
			}
		}

		&_has-submenu {
			display: flex;
			align-items: center;

			@include mouseover {

				& > {

					#{$root} {

						&__menu-link {
							pointer-events: none;
							opacity: 1;
						}

						&__submenu {
							visibility: visible;
							opacity: 1;
						}
					}
				}

				&::before {
					visibility: visible;
					opacity: 1;
				}

				&::after {
					transform: rotate(180deg);
				}
			}

			&::before {
				content: '';
				position: absolute;
				z-index: 1;
				top: calc(100% - #{inEm(2px)});
				left: inEm(5px);
				right: calc(#{inEm(11px)} + #{inEm(5px)} + #{inEm(5px)});
				background: $white;
				height: 1px;
				opacity: 0;
				visibility: hidden;
				transition: opacity $transition-duration;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: inEm(5px);
				width: inEm(11px);
				height: inEm(11px);
				margin-block: auto;
				background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMiAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuNjY2NjcgNUw4LjUwMTc5IDYuMTc1MzFDNy41NzI4MyA3LjExMjYgNy4xMDgzNSA3LjU4MTI1IDYuNTQyMjIgNy42NTM0MUM2LjQwMzUxIDcuNjcxMDkgNi4yNjMxNSA3LjY3MTA5IDYuMTI0NDUgNy42NTM0MUM1LjU1ODMyIDcuNTgxMjUgNS4wOTM4NCA3LjExMjYgNC4xNjQ4NyA2LjE3NTMxTDMgNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
				background-repeat: no-repeat;
				background-size: contain;
				transition: transform $transition-duration;
			}

			& > {

				#{$root} {

					&__menu-link {
						padding-right: calc(#{inEm(11px, 13px)} + #{inEm(5px, 13px)} + #{inEm(5px, 13px)});
					}
				}
			}
		}
	}

	&__menu-link {
		display: block;
		color: $white;
		font-size: inEm(13px);
		padding: inEm(5px, 13px);
		line-height: 1em;
		font-weight: 600;
		text-transform: uppercase;
		transition: opacity $transition-duration;

		@include mouseover {
			opacity: 0.7;
		}
	}

	&__submenu {
		position: absolute;
		top: 100%;
		left: inEm(-5px);
		padding: inEm(9px) inEm(5px) inEm(10px);
		min-width: calc(100% + #{inEm(10px)});
		background: $dark-blue;
		opacity: 0;
		visibility: hidden;
		transition: opacity $transition-duration;
	}
}
