.cc-home-hero {
	background: $blue;

	&__wrapper {
		width: 100%;
		max-width: $max-container-width;
		margin-inline: auto;

		@include md-down {
			min-height: inEmMob(481px);
		}
	}

	&__image-container {
		width: inEm(1165px);
		height: inEm(693px);

		@media screen and (min-width: 1441px) {
			width: calc(50% + (($base-container-width - $base-outer-padding-desktop * 2) / 2) - #{inEm(200px)});
		}

		@include lg-down {
			width: 81vw;
            height: 48.1vw;
		}

		@include md-down {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(90deg, rgba($o-black, 0.4) 0%, rgba($o-black, 0) 39.18%);

			@include md-down {
				background: linear-gradient(180deg, rgba($o-black, 0.4) 10.26%, rgba($o-black, 0) 100%);
			}
		}
	}

	&__text-container {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@include md-down {
			position: relative;
			width: 100%;
			height: auto;
			min-height: inEmMob(497px);
		}
	}

	&__title-container {
		max-width: inEm(731px);

		@include md-down {
			margin-inline: auto;
		}
	}

	&__text-wrapper {
		padding-top: inEm(241px);

		@include lg-down {
			padding-top: 16.7vw;
		}

		@include md-down {
			padding-top: inEmMob(61px);
			padding-bottom: inEmMob(40px);
		}
	}

	&__title {
		font-size: inEm(75px);
		line-height: 0.95em;
		letter-spacing: -0.025em;
		font-weight: 800;
		color: $white;
		text-transform: uppercase;
		@include rows-limit(4);

		@include md-down {
			font-size: inEmMob(32px);
			-webkit-line-clamp: initial;
			line-clamp: initial;
			text-align: center;
		}
	}

	&__button-container {
		margin-top: inEm(30px);

		@include md-down {
			width: max-content;
			margin: inEmMob(30px) auto 0;
		}
	}

	&__slider {
		overflow: hidden;
	}

	&__pagination-container {
		top: inEm(161px);
		left: 0;
		right: 0;
		height: inEm(50px);

		@include lg-down {
			top: 11.2vw;
		}

		@include md-down {
			top: auto;
			bottom: inEmMob(10px);
			height: auto;
			width: calc(100% - #{inEmMob(130px)});
		}
	}

	&__nav-container {
		width: max-content;
		margin: inEm(-32px) auto 0;
		column-gap: inEm(10px);

		@include md-down {
			margin: inEmMob(30px) inEmMob(20px) 0 auto;
			column-gap: inEmMob(10px);
		}
	}

	&__nav {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: inEm(65px);
		height: inEm(65px);
		border-radius: 50%;
		background: $white;
		transition: background $transition-duration;

		@include md-down {
			width: inEmMob(50px);
			height: inEmMob(50px);
		}

		@include mouseover {
			background: $red;

			svg {

				path {
					fill: $white;
				}
			}
		}

		svg {
			width: inEm(30px);
			height: inEm(28px);

			@include md-down {
				width: inEmMob(28px);
				height: inEmMob(26px);
			}

			path {
				transition: fill $transition-duration;
			}
		}
	}
}
