.cc-news {
	margin-top: inEm(180px);

	&_page {
		margin-top: inEm(102px);
		padding-bottom: inEm(175px);
	}

	&_about & {

		&__button-container {
			margin-top: inEm(60px);
		}
	}

	&__title-container {
		max-width: inEm(800px);
		margin: 0 auto inEm(60px);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: inEm(40px);
		row-gap: inEm(40px);
	}

	&__button-container {
		margin-top: inEm(40px);
	}

	.cc-button-form {
		padding-block: inEm(32px);

		&__title {
			font-size: inEm(22px);
		}
	}
}
