.cc-promotions {
	$root: &;

	position: relative;
	padding-top: inEm(180px);

	@include md-down {
		padding-top: inEmMob(90px);
	}

	&_home {

		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: inEm(-396px);
			background: linear-gradient(0deg, #4EE3FF 0%, #65C7F7 22.93%, #0052D4 45.85%);
		}
	}

	&_events {
		padding-top: inEmMob(120px);
	}

	&_events & {

		&__title {
			color: $red;
		}

		&__item {
			border: 1px solid #04062D;
		}
	}

	&_about & {

		&__title {
			font-size: inEm(110px);
			line-height: lh(104.5px, 110px);
			letter-spacing: -0.025em;
			color: $red;
		}

		&__items {
			margin-top: inEm(50px);
		}

		&__item {
			border: 1px solid #04062D;
		}
	}

	&_promo {
		padding-top: inEm(60px);
		padding-bottom: inEm(175px);

		@include md-down {
			padding-top: inEmMob(90px);
			padding-bottom: inEmMob(115px);
		}
	}

	&_promo & {

		&__items {
			margin-top: inEm(-10px);
		}

		&__item-wrapper {

			&:not(:nth-child(-n+2)) {

				@include md-down {
					display: block;
				}
			}
		}

		&__item {
			border: 1px solid #04062D;
		}

		&__button-container {
			display: none;
		}
	}

	&__title-container {
		position: relative;
		z-index: 2;
		text-align: center;
	}

	&__title {
		color: $dark-blue;
		font-size: inEm(349px);
		text-transform: uppercase;
		font-weight: 800;
		line-height: 0.95em;
		letter-spacing: lh(-14px, 349px);

		@include lg-down {
			font-size: inEmMob(260px);
			letter-spacing: lh(-14px, 260px);
		}

		@include md-down {
			font-size: inEmMob(95px);
			letter-spacing: lh(-3.8px, 95px);
		}
	}

	&__extra-container {
		margin-bottom: inEm(20px);

		#{$root} {

			&__item-title-container {
				max-width: inEm(693px);

				@include md-down {
					max-width: none;
				}
			}
		}
	}

	&__items {
		position: relative;
		z-index: 1;
		margin: inEm(-45px) inEm(-10px) inEm(-10px);

		@include lg-down {
			margin-top: inEmMob(-34px);
		}

		@include md-down {
			row-gap: inEmMob(20px);
			flex-direction: column;
			margin: inEmMob(30px) 0 0;
		}
	}

	&__item-wrapper {
		padding: inEm(10px);

		@include md-down {
			padding: 0;
		}

		&:nth-child(4n+1),
		&:nth-child(4n+4) {
			width: 59%;

			@include md-down {
				width: 100%;
			}
		}

		&:nth-child(4n+2),
		&:nth-child(4n+3) {
			width: 41%;

			@include md-down {
				width: 100%;
			}
		}

		&:not(:nth-child(-n+2)) {

			@include md-down {
				display: none;
			}
		}
	}

	&__item {
		overflow: hidden;
		background: $white;
		height: inEm(400px);
		border-radius: inEm(20px);
		padding: inEm(30px);

		@include md-down {
			padding: inEmMob(20px);
			border-radius: inEmMob(20px);
			height: auto;
			min-height: inEmMob(290px);
		}
	}

	&__item-upper {
		display: flex;
		column-gap: inEm(16px);
		margin-right: inEm(-30px);

		@include md-down {
			column-gap: inEmMob(66px);
			margin-right: inEmMob(-20px);
		}

		&::after {
			content: '';
			width: inEm(1350px);
			height: inEm(78px);
			background-repeat: no-repeat;
			background-size: inEm(1350px) inEm(78px);
			background-image: url('../images/promo-dec.svg');

			@include md-down {
				width: inEmMob(648px);
				height: inEmMob(60px);
				background-size: inEmMob(648px) inEmMob(60px);
			}
		}
	}

	&__item-icon-container {
		flex-shrink: 0;
		height: inEm(80px);
		width: max-content;

		@include md-down {
			width: inEmMob(60px);
			height: inEmMob(60px);
		}
	}

	&__item-icon {
		width: auto;
		height: 100%;

		@include md-down {
			max-width: none;
		}
	}

	&__item-lower {
		column-gap: inEm(15px);

		@include md-down {
			margin-top: inEmMob(20px);
			align-items: flex-start;
			justify-content: flex-end;
			flex-direction: column;
		}
	}

	&__item-title {
		font-size: inEm(38px);
		line-height: 0.95em;
		font-weight: 800;
		letter-spacing: lh(-1.52px, 38px);
		text-transform: uppercase;
		color: $black;
		@include rows-limit(5);

		@include md-down {
			font-size: inEmMob(26px);
			letter-spacing: lh(-1.04px, 26px);
		}
	}

	&__item-note-container {
		margin-top: inEm(15px);

		@include md-down {
			margin-top: inEmMob(10px);
		}
	}

	&__item-note {
		font-size: inEm(15px);
		line-height: 1.4em;
		color: $black;
		@include rows-limit(1);

		@include md-down {
			font-size: inEmMob(15px);
			-webkit-line-clamp: initial;
			line-clamp: initial;
		}
	}

	&__item-button {
		margin-top: inEmMob(10px);
	}

	&__button-container {
		margin-top: inEm(20px);

		@include md-down {
			margin-top: inEmMob(20px);
		}
	}
}
