.cc-rates-item {
	$root: &;

	display: grid;
	justify-content: space-between;
	grid-template-areas:
            'title right'
            'left right';
    column-gap: inEm(50px);
	border-top: 1px solid $red;
	padding-top: inEm(45px);
	color: $black;

	@include md-down {
		grid-template-areas:
				'title title'
				'right right'
                'left left';
		padding-top: inEmMob(30px);
	}

	&_max {
		grid-template-columns: repeat(2, 1fr);
		column-gap: inEm(30px);
		grid-template-areas:
            'title title'
            'left right';

        @include md-down {
            border-top: none;
	        padding-top: 0;
	        margin-top: inEmMob(120px) !important;
            grid-template-areas:
	            'title title'
	            'left left'
	            'right right';
        }
	}
	&_max & {

		&__title-section {
			margin-bottom: inEm(60px);

			@include md-down {
				display: none;
				margin-bottom: inEmMob(30px);
			}
		}

		&__info-title {

			@include md-down {
				color: $red;
			}
		}

		&__side {

			.cc-rates-item__title-section {

				@include md-down {
					display: block !important;
				}
			}
		}

		&__side_right {
			width: auto;

			@include md-down {
				margin-top: inEmMob(120px);
			}
		}
	}

	&_prices-ver & {

		&__prices-item-wrapper_additional {
			display: none;
		}

		&__prices-items {
			flex-direction: column;
		}
	}

	&:not(&_prices-ver) {

		.cc-rates-item__prices-item-wrapper:not(.cc-rates-item__prices-item-wrapper_additional) {

			.cc-rates-item__prices-item_add {
				display: none;
			}
		}
	}

	&__title-section {
		grid-area: title;
		width: max-content;
		max-width: inEm(700px);

		@include md-down {
			width: 100%;
			max-width: none;
		}
	}

	&__title {
		letter-spacing: lh(-3px, 75px);

		@include md-down {
			letter-spacing: -0.02em;
		}
	}

	&__title-details {
		margin-top: inEm(15px);

		@include md-down {
			margin-top: inEmMob(15px);
		}
	}

	&__title-details-side {

		&_left {
			column-gap: inEm(30px);
		}

		&_right {
			color: $red;
			padding-left: inEm(30px);
		}
	}

	&__title-details-item {
		font-size: inEm(22px);
		line-height: 1.1em;

		@include md-down {
			font-size: inEmMob(15px);
		}
	}

	&__side {


		&_left {
			grid-area: left;
			justify-content: flex-end;
		}

		&_right {
			grid-area: right;
			width: inEm(560px);
			min-height: inEm(333px);
			justify-content: space-between;

			@include md-down {
				width: 100%;
				min-height: auto;
				margin-top: inEmMob(30px);
			}
		}
	}

	&__info-title-container {
		margin-bottom: inEm(45px);

		@include md-down {
			margin-bottom: inEmMob(30px);
			padding-bottom: inEmMob(60px);
			border-bottom: 1px solid $red;
		}
	}

	&__info-title {
		font-size: inEm(60px);
		line-height: 0.95em;
		letter-spacing: lh(-2.4px, 60px);
		font-weight: 800;
		text-transform: uppercase;

		@include md-down {
			font-size: inEmMob(46px);
			letter-spacing: -0.025em;
			text-align: center;
		}
	}

	&__prices {
		margin-top: inEm(60px);

		@include md-down {
			margin-top: inEmMob(30px);
		}
	}

	&__prices-title,
	&__list-title {
		font-size: inEm(38px);
		line-height: 0.95em;
		letter-spacing: -0.04em;
		font-weight: 800;
		text-transform: uppercase;

		@include md-down {
			font-size: inEmMob(26px);
		}
	}

	&__prices-title-container {
		margin-bottom: inEm(15px);

		@include md-down {
			margin-bottom: inEmMob(15px);
		}
	}

	&__prices-items {
		column-gap: inEm(5px);
		row-gap: inEm(15px);

		@include md-down {
			column-gap: inEmMob(5px);
			row-gap: inEmMob(15px);
		}
	}

	&__prices-item-wrapper {
		column-gap: inEm(5px);

		@include md-down {
			column-gap: inEmMob(5px);
		}
	}

	&__prices-item {
		padding: inEm(15px);
		border-radius: inEm(12px);
		border: 1px solid $black;

		@include md-down {
			padding: inEmMob(15px);
			border-radius: inEmMob(12px);
		}

		&_holiday {
			border-color: $red;
			color: $red;
		}

		&_add {
			border-color: $pale-turq;
			color: $pale-turq;
		}
	}

	&__prices-item-value {
		display: block;
		font-size: inEm(24px);
		line-height: 0.95em;
		letter-spacing: lh(-0.6px, 24px);
		font-weight: 800;
		text-transform: uppercase;

		@include md-down {
			font-size: inEmMob(18px);
			letter-spacing: -0.02em;
		}
	}

	&__prices-item-description-container {
		margin-top: inEm(5px);

		@include md-down {
			margin-top: inEmMob(5px);
		}
	}

	&__prices-item-description {
		display: block;
		font-size: inEm(15px);
		line-height: 1em;
		font-weight: 500;

		@include md-down {
			font-size: max(12px, inEmMob(13px));
		}
	}

	&__list {
		columns: 2;
		column-gap: inEm(20px);
		margin-top: inEm(30px);

		@include md-down {
			columns: 1;
			margin-top: inEmMob(20px);
		}
	}

	&__list-item,
	&__list-extra-item,
	&__list-extra-description {
		display: flex;
		flex-wrap: wrap;
		column-gap: 0.3em;
		font-size: inEm(15px);
		line-height: 1em;
		font-weight: 500;

		@include md-down {
			font-size: inEmMob(15px);
		}

		span {
			display: inline-block;
			color: $red;
		}
	}

	&__list-item,
	&__list-extra-item {
		position: relative;
		padding-left: inEm(15px, 15px);

		&::before {
			content: '';
			position: absolute;
			top: inEm(1.5px, 15px);
			left: 0;
			width: inEm(10px, 15px);
			height: inEm(15px, 15px);
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('../images/list-item.svg');
		}
	}

	&__list-item {
		margin-bottom: inEm(15px, 15px);
	}

	&__list-extra-container {

		@include md-up {
			margin-top: inEm(10px);
		}
	}

	&__list-extra-description-container {
		margin-top: inEm(5px);
		padding-left: inEm(15px);

		@include md-down {
			margin-top: inEmMob(5px);
			padding-left: inEmMob(15px);
		}
	}

	&__button {
		margin-top: inEm(45px);

		@include md-down {
			grid-column: 1 / 3;
			margin-top: inEmMob(30px);
		}
	}
}
