.cc-rates {
	$root: &;

	margin-top: inEm(60px);

	@include md-down {
		margin-top: inEmMob(90px);
	}

	&__title-container {
		margin: 0 inEm(-40px) inEm(60px);

		@include md-down {
			margin: 0 0 inEmMob(60px);
		}
	}

	&__title {
		font-size: inEm(180px);
		line-height: 0.95em;
		letter-spacing: lh(-4.5px, 180px);
		font-weight: 800;
		text-transform: uppercase;
		color: $red;
		text-align: center;

		@include md-down {
			font-size: inEmMob(46px);
		}
	}

	&__section {

		@include md-down {

			display: none;
			opacity: 0;
			transition: opacity $transition-duration;

			&_prepare {
				display: block;
			}

			&_active {
				opacity: 1;
			}
		}

		&_blue {

			#{$root} {

				&__title {
					color: $d-blue;
				}
			}

			.cc-rates-item {
				$item-root: &;

				border-color: $d-blue;

				&_max {

					.cc-rates-item__info-title {

						@include md-down {
							color: $blue;
						}
					}
				}

				&__info-title-container {

					@include md-down {
						border-color: $blue;
					}
				}

				&__title-details-side_right {

					.cc-rates-item__title-details-item {
						color: $d-blue;
					}
				}

				&__prices-item_holiday {
					border-color: $d-blue;

					.cc-rates-item__prices-item-value,
					.cc-rates-item__prices-item-description {
						color: $d-blue;
					}
				}

				&__list-item,
				&__list-extra-item,
				&__list-extra-description {

					span {
						color: $d-blue;
					}
				}

				&__list-item,
				&__list-extra-item {

					&::before {
						background-image: url('../images/list-blue.svg');
					}
				}
			}

			.cc-button-form_red-border {
				background: $d-blue;
				border-color: $d-blue;

				@include mouseover {
					background: $white;
				}
			}
		}

		&:not(:first-child) {
			margin-top: inEm(120px);
		}
	}

	&__item {

		&:not(:first-child) {
			margin-top: inEm(90px);

			@include md-down {
				margin-top: inEmMob(60px);
			}
		}
	}
}
