.cc-red-form {
	position: relative;
	overflow: hidden;
	background: $red;

	@include md-down {
		padding-top: inEmMob(60px);
		padding-bottom: inEmMob(60px);
	}

	&_home {
		z-index: 1;
	}

	&_blue {
		background: $blue;

		@include md-down {
			padding-top: inEmMob(75px);
			padding-bottom: inEmMob(106px);
		}
	}
	&_blue & {

		&__title-container {
			padding-top: inEm(142px);
			padding-bottom: inEm(136px);

			@include md-down {
				padding: 0;
				margin-bottom: inEmMob(30px);
			}

			&::before {
				content: none;
			}
		}

		&__form-container {
			padding-top: inEm(112px);
			padding-bottom: inEm(136px);

			@include md-down {
				padding: 0;
			}
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include md-down {
			flex-direction: column;
		}
	}

	&__title-container {
		position: relative;
		width: inEm(762px);
		padding: inEm(90px) 0 inEm(87px);

		@include md-down {
			width: 100%;
			padding: 0;
			margin-bottom: inEmMob(30px);
		}

		&::before {
			content: '';
			position: absolute;
			top: inEm(-426px);
			right: inEm(-73px);
			width: inEm(1598px);
			height: inEm(1343px);
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('../images/form-bg.svg');

			@include md-down {
				top: inEmMob(-60px);
				right: -100vw;
				left: -100vw;
				margin-inline: auto;
				width: inEmMob(773px);
				height: inEmMob(367px);
				background-image: url('../images/form-bg-mobile.svg');
			}
		}
	}

	&__title {
		position: relative;
		text-transform: uppercase;
		color: $white;
		font-size: inEm(100px);
		line-height: 95%;
		font-weight: 800;
		letter-spacing: lh(-4px, 100px);

		@include md-down {
			text-align: center;
			font-size: inEmMob(36px);
			letter-spacing: lh(-0.72px, 36px);
		}
	}

	&__form-container {
		flex-shrink: 0;
		width: inEm(516px);
		padding-top: inEm(60px);
		padding-bottom: inEm(87px);

		@include md-down {
			width: 100%;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__inputs {
		column-gap: inEm(10px);
		row-gap: inEm(10px);
	}

	&__input {

		&:nth-child(1),
		&:nth-child(4) {
			width: 100%;
		}

		&:nth-child(2) {
			width: inEm(286px);

			@include md-down {
				width: 100%;
			}
		}

		&:nth-child(3) {
			width: inEm(220px);

			@include md-down {
				width: 100%;
			}
		}
	}

	&__checkbox {
		margin-top: inEm(20px);

		@include md-down {
			margin-top: inEmMob(20px);
		}
	}

	&__button {
		margin-top: inEm(20px);

		@include md-down {
			margin-top: inEmMob(20px);
		}
	}
}
