.cc-shows {
	$root: &;

	margin-top: inEm(250px);

	&_expanded {

		.cc-button-show {
			background: $red;

			@include mouseover {
				background: $white;

				.cc-button-show__title {
					color: $red;
				}
			}

			&__title {
				color: $white;
			}
		}
	}
	&_expanded & {

		&__expanded-button-container {
			margin-top: inEm(100px);
		}
	}

	&__title-first {
		width: max-content;
		margin-inline: auto;
	}

	&__count-container {
		left: calc(100% + #{inRem(15px)});
		bottom: inRem(10px);
		width: inRem(130px);
		height: inRem(130px);
		border-radius: 50%;
		background: $red;
		transform: rotate(10deg);
	}

	&__count {
		font-size: inRem(79px);
		font-weight: 800;
		line-height: 0.95em;
		letter-spacing: lh(-1.98px, 79px);
		color: $white;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: inEm(40px);
		row-gap: inEm(40px);
		margin-top: inEm(60px);

		&_hide-items {

			#{$root} {

				&__item {

					&:not(:nth-child(-n+12)) {
						display: none;
					}
				}
			}
		}

		&_show-button {

			#{$root} {

				&__item {

					&:not(:nth-child(-n+12)) {
						display: none;
					}
				}

				&__button {
					display: flex;
				}
			}
		}
	}

	&__item {
		height: inEm(330px);
		border-radius: inEm(30px);
		overflow: hidden;
		padding: inEm(30px) inEm(30px) inEm(70px);
	}

	&__image-container {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba($o-black, 0.7) 0%, rgba($o-black, 0) 34.6%, rgba($o-black, 0) 71.41%, rgba($o-black, 0.7) 100%);
		}
	}

	&__item-title {
		font-size: inEm(32px);
		line-height: 0.95em;
		letter-spacing: lh(-1.28px, 32px);
		font-weight: 700;
		text-transform: uppercase;
		color: $white;
	}

	&__item-button {
		right: inEm(10px);
		bottom: inEm(10px);
	}

	&__button {
		display: none;
		left: 0;
		right: 0;
		bottom: 0;
		height: inEm(330px);
		padding-bottom: inEm(30px);
		background: linear-gradient(to top, $white 0%, $white 40%, rgba($white, 0.7) 100%);
	}
}
