.cc-address-picker {

	&.cc-dropdown-active & {

		&__arrow-container {
			transform: rotate(180deg);
		}
	}

	&__button {

		span {
			pointer-events: none;
		}
	}

	&__title {
		font-size: inEm(14px);
		line-height: 1em;
		color: $white;
	}

	&__arrow-container {
		margin-left: inEm(3px);
		transition: transform $transition-duration;

		svg {
			transition: transform $transition-duration;
		}
	}
}
