.cc-breadcrumbs {

	&__item {
		display: flex;
		align-items: center;
		font-size: inEm(15px);
		line-height: 1.4em;
		color: $red;

		@include md-down {
			font-size: inEmMob(15px);
		}

		&:not(:last-child) {

			&::after {
				content: '';
				width: inEm(6px, 15px);
				height: inEm(6px, 15px);
				margin-inline: inEm(8px, 15px);
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url('../images/breadcrumbs.svg');

				@include md-down {
					width: inEmMob(6px, 15px);
					height: inEmMob(6px, 15px);
					margin-inline: inEm(8px, 15px);
				}
			}
		}
	}

	&__link {
		color: $black;
		transition: opacity $transition-duration;

		@include mouseover {
			opacity: 0.7;
		}
	}
}

body.cc-dark {

	.cc-breadcrumbs {

		&__item {
			color: $gold;

			&:not(:last-child) {

				&::after {
					background-image: url('../images/breadcrumbs-white.svg');
				}
			}
		}

		&__link {
			color: $white;
		}
	}
}
