.cc-button-cta {
	$root: &;

	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 inEm(25px);
	height: inEm(42px);
	border-radius: inEm(100px);
	background: $white;
	transition: background $transition-duration;

	@include mouseover {
		background: $red;

		#{$root} {

			&__title {
				color: $white;
			}
		}
	}

	&_red {
		background: $red;
		padding: 0 inEm(30px);
		height: inEm(46px);
		border-radius: inEm(90px);
		border: 1px solid $red;

		@include md-down {
			padding: 0 inEmMob(30px);
			height: inEmMob(46px);
			border-radius: inEmMob(90px);
		}

		@include mouseover {
			background: $white;

			.cc-button-cta__title {
				color: $red;
			}
		}
	}
	&_red & {

		&__title {
			color: $white;
		}
	}

	&_news {
		background: $red;
		padding: 0 inEm(20px);
		height: inEm(44px);
		border-radius: inEm(130px);
		border: 1px solid $red;

		@include mouseover {
			background: $white;

			.cc-button-cta__title {
				color: $red;
			}
		}
	}
	&_news & {

		&__title {
			font-size: inEm(14px);
			color: $white;
		}
	}

	&__title {
		pointer-events: none;
		color: $red;
		font-size: inEm(14px);
		font-weight: 700;
		line-height: 1em;
		text-transform: uppercase;
		transition: color $transition-duration;

		@include md-down {
			font-size: inEmMob(14px);
		}
	}
}
