.cc-button-details {
	$root: &;
	position: relative;
	width: inEm(210px);
	height: inEm(210px);
	background: $red;
	border-radius: 50%;
	border: 1px solid $red;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: background $transition-duration;

	@include md-down {
		width: inEmMob(110px);
		height: inEmMob(110px);
	}

	@include mouseover {
		background: $white;

		#{$root} {

			&__title {
				color: $red;
			}
		}
	}

	&_promo {
		width: inEm(160px);
		height: inEm(160px);

		@include md-down {
			width: auto;
			height: auto;
			padding: inEmMob(16px) inEmMob(30px);
			border-radius: inEmMob(90px);
		}
	}

	&_no-border {
		border: none;
	}

	&_more {
		width: inEm(240px);
		height: inEm(240px);
	}

	&_about {
		width: inEm(240px);
		height: inEm(240px);
	}
	&_about & {

		&__title {
			width: inEm(158px, 18px);
			margin-inline: auto;
		}
	}

	&__title {
		text-transform: uppercase;
		color: $white;
		font-size: inEm(18px);
		line-height: 1em;
		font-weight: 700;
		transition: color $transition-duration;

		@include md-down {
			font-size: inEmMob(14px);
		}
	}
}
