.cc-button-cta {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 inEm(25px);
	height: inEm(42px);
	border-radius: inEm(100px);
	background: $white;

	&__title {
		pointer-events: none;
		color: $red;
		font-size: inEm(14px);
		font-weight: 700;
		line-height: 1em;
		text-transform: uppercase;
	}
}
