.cc-checkbox {
	position: relative;
	cursor: pointer;

	&__input {
		font-size: 1em;
		cursor: pointer;
		flex-shrink: 0;
		width: inEm(20px);
		height: inEm(20px);
		border-radius: 50%;
		border: inEm(2px) solid $white;
		margin: 0 inEm(10px) 0 0;
		background-repeat: no-repeat;
		background-size: inEm(12px) inEm(10px);
		background-position: 42% 60%;

		@include md-down {
			width: inEmMob(20px);
			height: inEmMob(20px);
			border-width: inEmMob(2px);
			margin-right: inEmMob(10px);
			background-size: inEmMob(12px) inEmMob(10px);
		}

		&:checked {
			background-image: url('../images/checkbox.svg');
		}
	}

	&__title {
		font-size: inEm(15px);
		line-height: 1em;
		font-weight: 500;
		color: $white;

		@include md-down {
			font-size: inEmMob(15px);
		}

		a {
			text-decoration: underline;
			margin-left: inEm(5px, 15px);
			transition: opacity $transition-duration;

			@include mouseover {
				opacity: 0.7;
			}
		}
	}
}
