.cc-city-picker {

	&.cc-dropdown-active & {

		&__arrow-container {
			transform: rotate(180deg);
		}
	}

	&_footer & {

		&__list-container {
			top: auto;
			bottom: calc(100% + #{inEm(10px)});
		}
	}

	&_mobile {

		.cc-dropdown__list-wrapper {
			max-height: 50dvh;
		}
	}

	&_mobile & {

		&__list-container {
			top: auto;
			left: -100%;
			right: -100%;
			bottom: calc(100% + #{inEm(10px)});
			margin-inline: auto;
		}
	}

	&__button {
		background: $red;
		border-radius: inEm(100px);
		height: inEm(24px);
		padding-inline: inEm(5px);

		@include md-down {
			border-radius: inEmMob(100px);
			height: inEmMob(24px);
			padding-inline: inEmMob(5px);
		}

		span {
			pointer-events: none;
		}
	}

	&__point-container {
		margin-right: inEm(3px);

		@include md-down {
			width: inEmMob(12px);
			height: inEmMob(12px);
			margin-right: inEmMob(3px);
		}
	}

	&__title {
		font-size: inEm(14px);
		line-height: 1em;
		font-weight: 600;
		color: $white;
		text-transform: uppercase;

		@include md-down {
			font-size: 12px;
		}
	}

	&__arrow-container {
		margin-left: inEm(3px);
		transition: transform $transition-duration;

		@include md-down {
			width: inEmMob(14px);
			height: inEmMob(14px);
			margin-left: inEmMob(3px);
		}

		svg {
			transition: transform $transition-duration;
		}
	}
}
