.cc-decor-item {
	$root: &;

	cursor: pointer;

	@include md-down {
		display: flex;
		flex-direction: column;
	}

	@include mouseover {

		#{$root} {

			&__image-container {

				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__image-container {
		position: relative;
		width: inEm(248px);
		height: inEm(248px);
		border-radius: inEm(20px);
		overflow: hidden;

		@include md-down {
			width: 100%;
			height: auto;
			aspect-ratio: 1 / 1;
			order: 1;
			border-radius: inEmMob(20px);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/zoom.svg') no-repeat center, linear-gradient(0deg, rgba($o-black, 0.5) 0%, rgba($o-black, 0.5) 100%);
			opacity: 0;
			transition: opacity $transition-duration;
		}
	}

	&__image {

		&_full {
			display: none !important;
		}
	}

	&__title-container {
		margin-top: inEm(15px);

		@include md-down {
			margin-top: 0;
			margin-bottom: inEmMob(15px);
		}
	}

	&__title {
		font-size: inEm(22px);
		letter-spacing: lh(-0.88px, 22px);
		line-height: 0.95em;
		font-weight: 800;
		text-transform: uppercase;

		@include md-down {
			font-size: inEmMob(18px);
		}
	}
}
