.cc-news-item {

	&__image-container {
		border-radius: inEm(30px);
		height: inEm(330px);
		overflow: hidden;

		@include md-down {
			height: inVw(279px);
		}
	}

	&__text-container {
		margin-top: inEm(30px);

		@include md-down {
			margin-top: inEmMob(30px);
		}
	}

	&__title {
		@include rows-limit(4);
	}

	&__date-container {
		margin-top: inEm(15px);

		@include md-down {
			margin-top: inEmMob(15px);
		}
	}

	&__date {
		display: block;
		color: $red;
		font-size: inEm(15px);
		line-height: 1em;
		font-weight: 500;

		@include md-down {
			font-size: inEmMob(15px);
		}
	}

	&__button-container {
		margin-top: inEm(30px);

		@include md-down {
			margin-top: inEmMob(30px);
		}
	}
}
