.cc-price-item {
	padding: inEm(15px);
	border: 1px solid;
	border-radius: inEm(12px);

	&_red {
		color: $red;
	}

	&_blue {
		color: $blue;
	}

	span {
		display: block;
	}

	&__price {
		font-size: inEm(24px);
		line-height: lh(22.8px);
		letter-spacing: -0.025em;
		font-weight: 800;
	}

	&__time-container {
		margin-top: inEm(5px);
	}

	&__time {
		font-size: inEm(15px);
		line-height: 1em;
		font-weight: 500;
	}
}
