+breadcrumbs

section.cc-thx.cc-outer
	._wrapper.cc-wrapper
		._image-container
			img._image(src='../images/thx-image.png', alt='#')
		._description-container
			p._description В ближайшее время наш менеджер свяжется с вами.
		._button-container
			+formButton('cc-button-form_big', 'Вернуться на главную', false)
