.cc-vip-waiters {
	margin-top: inEm(180px);

	@include sm-down {
		margin-top: inEmMob(90px);
	}

	&__title-container {
		max-width: inEm(800px);

		@include sm-down {
			max-width: inEmMob(270px);
		}
	}

	&__title {
		text-align: left;
		color: $white;
	}

	&__image-container {
		display: flex;
		justify-content: flex-end;
		margin-top: inEm(-32px);

		@include sm-down {
			margin-top: inEmMob(30px);
		}
	}

	&__image {
		width: inEm(809px);
		height: auto;

		@include sm-down {
			width: 100%;
		}
	}
}
