.cc-vip-video-photo {
	$root: &;

	margin-top: inEm(480px);

	@include md-down {
		margin-top: inEmMob(268px);
	}

	&__wrapper {
		@include md-down {
			max-width: inEmMob(351px);
			margin-inline: auto;
		}
	}

	&__container {
		height: inEm(538px);

		@include md-down {
			height: inEmMob(198px);
		}
	}

	&__side {
		top: 0;
		bottom: 0;
		width: max-content;
		display: flex;

		&_video {
			left: 0;

			#{$root} {

				&__image-container {
					width: inEm(410px);
					height: inEm(410px);
					top: inEm(14px);
					right: inEm(23px);
					transform: translateX(-67%);

					@include md-down {
						width: inEmMob(120px);
						height: inEmMob(120px);
						top: inEmMob(10px);
						right: inEmMob(50px);
					}
				}
			}
		}

		&_photo {
			right: 0;
			align-items: flex-end;

			#{$root} {

				&__image-container {
					width: inEm(504px);
					height: inEm(504px);
					left: inEm(-50px);
					bottom: inEm(-25px);
					transform: translateX(52%);

					@include md-down {
						width: inEmMob(150px);
						height: inEmMob(150px);
						left: inEmMob(10px);
						bottom: inEmMob(-5px);
					}
				}
			}
		}
	}

	&__title {
		text-align: left;
		color: $white;
	}
}
