.cc-vip-disco {
	margin-top: inEm(290px);

	&__wrapper {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			z-index: -2;
			top: -45%;
			bottom: -78%;
			left: -200%;
			right: -200%;
			transform: rotate(-20deg);
			background: linear-gradient(to bottom, rgba(#1B1918, 0) 0%, #C3961E 50%, #1B1918 100%) no-repeat;
			background-size: 100% 90%;
			background-position-y: 10%;
		}
	}

	&__ball {

		&_i1 {
			width: inEm(168px);
			height: inEm(168px);
			top: 36.6%;
			left: inEm(73px);
		}

		&_i2 {
			width: inEm(94px);
			height: inEm(94px);
			top: 40.5%;
			right: inEm(335px);
			filter: blur(inEm(5px));
		}

		&_i3 {
			width: inEm(419px);
			height: inEm(419px);
			top: 74.4%;
			left: inEm(-38px);
			filter: blur(inEm(13px));
		}

		&_i4 {
			width: inEm(59px);
			height: inEm(59px);
			top: 105.2%;
			left: inEm(598px);
		}

		&_i5 {
			width: inEm(119px);
			height: inEm(119px);
			top: 97.5%;
			right: inEm(297px);
		}

		&_i6 {
			width: inEm(180px);
			height: inEm(180px);
			top: 57.9%;
			right: inEm(-60px);
			filter: blur(inEm(5px));
		}
	}

	&__title-container {

		&::after {
			content: '';
			position: absolute;
			top: inEm(-87px);
			right: inEm(-15.5px);
			width: inEm(312.5px);
			height: inEm(287px);
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('../images/notes.png');
		}
	}

	&__headphones {
		top: inEm(-100px);
		left: inEm(-44px);
		width: inEm(402px);
		height: inEm(402px);

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-size: contain;
		}

		&::before {
			left: 0;
			width: inEm(221px);
			background-image: url('../images/headphones-left.png');
		}

		&::after {
			z-index: -1;
			right: 0;
			width: inEm(181px);
			background-image: url('../images/headphones-right.png');
		}
	}

	&__title {
		text-align: center;
		color: $white;
	}

	&__image-container {
		margin-top: inEm(60px);
		border-radius: inEm(20px);
		overflow: hidden;
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
	}
}
