.cc-vip-limousine {
	margin-top: inEm(180px);

	@include md-down {
		margin-top: inEmMob(120px);
	}

	&__wrapper {

		@include md-down {
			max-width: inEmMob(351px);
		}
	}

	&__container {
		padding-bottom: inEm(161px);

		@include md-down {
			padding-bottom: inEmMob(180px);
		}
	}

	&__title {
		text-align: left;
		color: $white;

		span {
			display: block;

			&:nth-child(1) {
				margin-left: inEm(268px, 110px);

				@include md-down {
					margin-left: 0;
				}
			}

			&:nth-child(2) {

				@include md-down {
					text-align: right;
				}
			}

			&:nth-child(3) {
				margin-left: inEm(536px, 110px);

				@include md-down {
					margin-left: 0;
					text-align: center;
				}
			}
		}
	}

	&__description-container {
		margin-top: inEm(90px);
		margin-left: inEm(536px);
		max-width: inEm(728px);

		@include md-down {
			margin-left: 0;
			max-width: none;
			margin-top: inEmMob(60px);
		}
	}

	&__description {
		font-size: inEm(60px);
		line-height: 1em;
		letter-spacing: -0.02em;
		font-weight: 800;
		text-transform: uppercase;
		color: $gold;

		@include md-down {
			font-size: inEmMob(26px);
		}
	}

	&__note-container {
		margin-top: inEm(60px);
		margin-left: inEm(804px);

		@include md-down {
			margin-top: inEmMob(20px);
			margin-left: 0;
		}
	}

	&__note {
		font-size: inEm(22px);
		line-height: 1.1em;

		@include md-down {
			font-size: inEmMob(15px);
		}
	}

	&__limousine-container {
		width: inEm(1364px);
		height: inEm(306px);
		left: inEm(-580px);
		transform: translateX(-77%);
		bottom: 0;

		@include md-down {
			width: inEmMob(665px);
			height: inEmMob(150px);
			left: inEmMob(-330px);
			transform: translateX(-55%);
		}
	}
}
