+breadcrumbs('cc-breadcrumbs_light')

section.cc-page-404.cc-outer
	._wrapper.cc-wrapper
		._title-wrapper.relative.flex.aife
			._title-container
				h1._title //404
			._description-container
				p._description Такой страницы не существует
		._button-container.relative
			+formButton('cc-button-form_white', 'Вернуться на главную', false)
