include ../../components/vacancies
include ../../components/contact-item

+breadcrumbs

.cc-single-title.-big.cc-outer
	._wrapper.cc-wrapper
		h1._title Вакансии

+vacancies('', 'cc-vacancies_page', false, 2)
+contact-item('Контакты парка', '', 'cc-contact-item_pre-footer')
