include ../../components/simple-hero
include ../../components/event-items
include ../../components/events-extra
include ../../components/shows
include ../../components/quests
include ../../components/contact-item

+breadcrumbs
+simpleHero('../images/entertainment.svg', '../images/entertainment-mobile.svg')
+tabsNav
+eventItems('', '', true)
+eventsExtra('cc-events-extra_birthday', '../images/paints.svg')
+shows('cc-shows_expanded', true)
+quests
+contact-item('', '', 'cc-contact-item_pre-footer')
