mixin banquetHalls(cl)
	section.cc-banquet-halls.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._title-container
				h2._title.cc-heading-2 банкетные залы

			- var n = 0;
			._items.flex.fwrap.jcc
				while n < 3
					._item
						._item-title-container
							h3._item-title.cc-heading-5 Brawl Stars
						._slider.relative.js-cc-banquet-slider
							._slider-wrapper.swiper-wrapper
								._slide.swiper-slide.img-cover
									img._image(src='../images/banquet-1.jpg', alt='#', loading='lazy')
								._slide.swiper-slide.img-cover
									img._image(src='../images/banquet-2.jpg', alt='#', loading='lazy')
								._slide.swiper-slide.img-cover
									img._image(src='../images/banquet-3.jpg', alt='#', loading='lazy')

							._slide-title-container.absolute
								span._slide-title Посадка до 16 человек

							button._nav.-prev.flex.jcc.aic.absolute.js-cc-banquet-prev
								<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M23 10C23.5523 10 24 10.4477 24 11C24 11.5523 23.5523 12 23 12L23 10ZM1 12C0.447716 12 0 11.5523 0 11C0 10.4477 0.447716 10 1 10V12ZM8.29605 0.289745C8.68832 -0.0990326 9.32148 -0.0962077 9.71025 0.296055C10.099 0.688318 10.0962 1.32148 9.70395 1.71025L8.29605 0.289745ZM5.47406 4.49462L6.17801 5.20487L5.47406 4.49462ZM5.47406 17.5054L4.77011 18.2156L5.47406 17.5054ZM9.70395 20.2897C10.0962 20.6785 10.099 21.3117 9.71025 21.7039C9.32148 22.0962 8.68832 22.099 8.29605 21.7103L9.70395 20.2897ZM1.03978 10.3733L0.0478058 10.2469V10.2469L1.03978 10.3733ZM1.03978 11.6267L0.0478058 11.7531V11.7531L1.03978 11.6267ZM23 12L1 12V10L23 10L23 12ZM9.70395 1.71025L6.17801 5.20487L4.77012 3.78436L8.29605 0.289745L9.70395 1.71025ZM6.17801 16.7951L9.70395 20.2897L8.29605 21.7103L4.77011 18.2156L6.17801 16.7951ZM6.17801 5.20487C4.75537 6.61487 3.74949 7.61395 3.06334 8.46833C2.38987 9.30693 2.10711 9.9086 2.03175 10.4998L0.0478058 10.2469C0.188932 9.13968 0.717377 8.19544 1.50396 7.216C2.27787 6.25234 3.38088 5.16125 4.77012 3.78436L6.17801 5.20487ZM4.77011 18.2156C3.38088 16.8387 2.27787 15.7477 1.50396 14.784C0.717377 13.8046 0.188932 12.8603 0.0478058 11.7531L2.03175 11.5002C2.10711 12.0914 2.38987 12.6931 3.06334 13.5317C3.74948 14.386 4.75537 15.3851 6.17801 16.7951L4.77011 18.2156ZM2.03175 10.4998C1.98942 10.8319 1.98942 11.1681 2.03175 11.5002L0.0478058 11.7531C-0.0159359 11.253 -0.0159359 10.747 0.0478058 10.2469L2.03175 10.4998Z" fill="white"/>
								</svg>
							button._nav.-next.flex.jcc.aic.absolute.js-cc-banquet-next
								<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 10C0.447715 10 -1.19209e-07 10.4477 0 11C5.96046e-08 11.5523 0.447715 12 1 12L1 10ZM23 12C23.5523 12 24 11.5523 24 11C24 10.4477 23.5523 10 23 10V12ZM15.7039 0.289745C15.3117 -0.0990326 14.6785 -0.0962077 14.2897 0.296055C13.901 0.688318 13.9038 1.32148 14.2961 1.71025L15.7039 0.289745ZM18.5259 4.49462L17.822 5.20487L18.5259 4.49462ZM18.5259 17.5054L19.2299 18.2156L18.5259 17.5054ZM14.2961 20.2897C13.9038 20.6785 13.901 21.3117 14.2897 21.7039C14.6785 22.0962 15.3117 22.099 15.7039 21.7103L14.2961 20.2897ZM22.9602 10.3733L23.9522 10.2469V10.2469L22.9602 10.3733ZM22.9602 11.6267L23.9522 11.7531V11.7531L22.9602 11.6267ZM1 12L23 12V10L1 10L1 12ZM14.2961 1.71025L17.822 5.20487L19.2299 3.78436L15.7039 0.289745L14.2961 1.71025ZM17.822 16.7951L14.2961 20.2897L15.7039 21.7103L19.2299 18.2156L17.822 16.7951ZM17.822 5.20487C19.2446 6.61487 20.2505 7.61395 20.9367 8.46833C21.6101 9.30693 21.8929 9.9086 21.9682 10.4998L23.9522 10.2469C23.8111 9.13968 23.2826 8.19544 22.496 7.216C21.7221 6.25234 20.6191 5.16125 19.2299 3.78436L17.822 5.20487ZM19.2299 18.2156C20.6191 16.8387 21.7221 15.7477 22.496 14.784C23.2826 13.8046 23.8111 12.8603 23.9522 11.7531L21.9682 11.5002C21.8929 12.0914 21.6101 12.6931 20.9367 13.5317C20.2505 14.386 19.2446 15.3851 17.822 16.7951L19.2299 18.2156ZM21.9682 10.4998C22.0106 10.8319 22.0106 11.1681 21.9682 11.5002L23.9522 11.7531C24.0159 11.253 24.0159 10.747 23.9522 10.2469L21.9682 10.4998Z" fill="white"/>
								</svg>
					- n++;
