mixin birthdayBenefits(cl)
	section.cc-birthday-benefits.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._title-container
				h2._title.cc-heading-2 преимущества
					span для именинника

			._grid
				._side.-left.relative
					._image-container.absolute
						img._image(src='../images/benefits-gift.png', alt='#')

				._side.-right
					._items.flex.fdc
						._item
							._icon-container.img-contain
								img._icon(src='../images/birthday-benefits-1.svg', alt='#')
							._description-container
								p._description Все внимание будет сфокусировано только на вашем ребенке.

						._item
							._icon-container.img-contain
								img._icon(src='../images/birthday-benefits-2.svg', alt='#')
							._description-container
								p._description Узнаем предварительно о том, чем увлекается именинник и чем его можно удивить, какой формат развлечений он любит.

						._item
							._icon-container.img-contain
								img._icon(src='../images/birthday-benefits-3.svg', alt='#')
							._description-container
								p._description Пропишем индивидуальный сценарий и заранее согласуем его с вами.
