mixin birthdayParents(title, cl)
	section.cc-birthday-parents.cc-outer
		._wrapper.cc-wrapper.relative
			._title-container
				h2._title.cc-heading-2
					span родители
					span во время
					span= title

			._image-container.absolute.img-contain
				img._image(src='../images/tea-cup.svg', alt='#')

			._items.relative
				._item
					p._item-description Пока дети будут развлекаться, родители могут спокойно насладиться праздников в уютных и стильных банкетных комнатах.
				._item
					p._item-description Заранее можно ознакомиться с меню для предзаказа блюд, чтобы не терять время на приготовление во время празднования.
