mixin contact-item(title, itemTitle, cl)
	- title = title || 'Контакты парка'
	.cc-contact-item.cc-outer(class= cl)
		._wrapper.cc-wrapper
			if title
				._title-container
					h2._title.cc-heading-2= title

			._grid
				._contacts-container
					._item
						._place-container
							span._place ТРЦ АВИАПАРК
						._address-container
							span._address ул. Ходынский бульвар, д.4, метро ЦСКА

					._item
						+phoneItem('cc-contacts-item_block')

					._item
						+timeItem('cc-contacts-item_block')

					._item
						._social.flex.fwrap
							a._social-item.img-contain.cc-hover(href='#')
								<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_1039_6767)">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.3333 4C10.858 4 8.48401 4.98333 6.73367 6.73367C4.98333 8.48401 4 10.858 4 13.3333V36.6667C4 39.142 4.98333 41.516 6.73367 43.2663C8.48401 45.0167 10.858 46 13.3333 46H36.6667C39.142 46 41.516 45.0167 43.2663 43.2663C45.0167 41.516 46 39.142 46 36.6667V13.3333C46 10.858 45.0167 8.48401 43.2663 6.73367C41.516 4.98333 39.142 4 36.6667 4H13.3333ZM37.4413 20.4617C37.7848 19.9468 37.9096 19.3166 37.7884 18.7096C37.6672 18.1027 37.3099 17.5688 36.795 17.2253C36.2801 16.8819 35.6499 16.757 35.043 16.8782C34.436 16.9994 33.9021 17.3568 33.5587 17.8717C32.7327 18.9683 31.867 20.0183 30.8543 20.9517C29.6807 22.0343 28.493 22.8463 27.3357 23.327L27.317 18.8937C27.2501 18.3261 26.9773 17.8028 26.5502 17.423C26.1231 17.0432 25.5715 16.8334 25 16.8333C23.7353 16.9057 22.6667 17.839 22.6667 19.1667V29.3703C18.1213 28.1103 15.6667 23.7003 15.6667 19.1667C15.6667 18.5478 15.4208 17.9543 14.9832 17.5168C14.5457 17.0792 13.9522 16.8333 13.3333 16.8333C12.7145 16.8333 12.121 17.0792 11.6834 17.5168C11.2458 17.9543 11 18.5478 11 19.1667C11 27.6413 16.8567 34.3333 25 34.3333C25.6188 34.3333 26.2123 34.0875 26.6499 33.6499C27.0875 33.2123 27.3333 32.6188 27.3333 32V28.353C30.4413 28.6003 33.456 30.796 34.5807 33.043C34.7117 33.3267 34.8984 33.5812 35.1297 33.7913C35.3609 34.0015 35.632 34.163 35.9269 34.2664C36.2218 34.3698 36.5345 34.4129 36.8463 34.3932C37.1582 34.3734 37.4629 34.2912 37.7424 34.1515C38.0219 34.0117 38.2705 33.8173 38.4734 33.5796C38.6763 33.342 38.8294 33.066 38.9236 32.7681C39.0179 32.4701 39.0513 32.1563 39.0219 31.8452C38.9925 31.5341 38.901 31.232 38.7527 30.957C37.6373 28.724 35.556 26.6357 32.994 25.273C33.3393 24.9907 33.6823 24.692 34.0207 24.3817C35.3062 23.2093 36.4538 21.8941 37.4413 20.4617Z" fill="#E31E34"/>
								</g>
								<defs>
								<clipPath id="clip0_1039_6767">
								<rect width="50" height="50" fill="white"/>
								</clipPath>
								</defs>
								</svg>
							a._social-item.img-contain.cc-hover(href='#')
								<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M46 13.555C45.9764 12.649 45.9063 11.7448 45.79 10.846C45.6332 10.0588 45.3719 9.29601 45.013 8.578C44.6377 7.79912 44.1336 7.08916 43.522 6.478C42.9048 5.87363 42.1961 5.37044 41.422 4.987C40.703 4.63513 39.9403 4.38088 39.154 4.231C38.2637 4.09765 37.366 4.0205 36.466 4H13.555C12.649 4.0236 11.7448 4.09369 10.846 4.21C10.0588 4.3668 9.29601 4.62812 8.578 4.987C7.79912 5.36235 7.08916 5.86642 6.478 6.478C5.87363 7.09521 5.37044 7.80393 4.987 8.578C4.63513 9.29696 4.38088 10.0597 4.231 10.846C4.09765 11.7363 4.0205 12.634 4 13.534V36.445C4.0236 37.351 4.09369 38.2552 4.21 39.154C4.3668 39.9412 4.62812 40.704 4.987 41.422C5.36235 42.2009 5.86642 42.9108 6.478 43.522C7.09521 44.1264 7.80393 44.6296 8.578 45.013C9.29696 45.3649 10.0597 45.6191 10.846 45.769C11.7363 45.9023 12.634 45.9795 13.534 46H36.445C37.351 45.9764 38.2552 45.9063 39.154 45.79C39.9412 45.6332 40.704 45.3719 41.422 45.013C42.2009 44.6377 42.9108 44.1336 43.522 43.522C44.1264 42.9048 44.6296 42.1961 45.013 41.422C45.3649 40.703 45.6191 39.9403 45.769 39.154C45.9023 38.2637 45.9795 37.366 46 36.466V14.668V13.555ZM25.483 39.7C22.961 39.6876 20.4832 39.0374 18.28 37.81L10.3 39.91L12.4 32.098C11.0457 29.8225 10.321 27.2279 10.3 24.58C10.3084 21.6041 11.1971 18.6973 12.8544 16.2256C14.5116 13.7539 16.8632 11.8278 19.6129 10.69C22.3627 9.55219 25.3877 9.25351 28.3068 9.83157C31.226 10.4096 33.9089 11.8386 36.0175 13.9385C38.1261 16.0383 39.5662 18.7152 40.1564 21.632C40.7466 24.5487 40.4605 27.5749 39.3342 30.3294C38.2078 33.0839 36.2915 35.4434 33.8267 37.1109C31.3619 38.7784 28.4588 39.6793 25.483 39.7ZM25.483 12.127C23.2566 12.1525 21.0767 12.7675 19.1653 13.9093C17.2538 15.0512 15.6791 16.6792 14.6014 18.6276C13.5237 20.576 12.9816 22.7751 13.0302 25.0011C13.0788 27.2271 13.7163 29.4005 14.878 31.3L15.172 31.783L13.912 36.382L18.7 35.08L19.162 35.353C21.0721 36.4781 23.2452 37.0793 25.462 37.096C28.8037 37.096 32.0086 35.7685 34.3715 33.4055C36.7345 31.0426 38.062 27.8377 38.062 24.496C38.062 21.1543 36.7345 17.9494 34.3715 15.5865C32.0086 13.2235 28.8247 12.127 25.483 12.127ZM32.833 30.019C32.5579 30.4778 32.1897 30.8737 31.752 31.1812C31.3142 31.4887 30.8169 31.7008 30.292 31.804C29.5077 31.9473 28.7003 31.8969 27.94 31.657C27.2246 31.4333 26.5234 31.1669 25.84 30.859C23.2439 29.5563 21.0298 27.6027 19.414 25.189C18.536 24.0707 18.0032 22.7206 17.881 21.304C17.8685 20.7156 17.9798 20.1311 18.2077 19.5884C18.4356 19.0457 18.7751 18.557 19.204 18.154C19.3303 18.0108 19.4853 17.8956 19.659 17.816C19.8326 17.7365 20.021 17.6942 20.212 17.692H20.8C21.031 17.692 21.346 17.692 21.64 18.343C21.934 18.994 22.711 20.947 22.816 21.136C22.8676 21.2367 22.8945 21.3483 22.8945 21.4615C22.8945 21.5747 22.8676 21.6863 22.816 21.787C22.7232 22.0152 22.5957 22.2277 22.438 22.417C22.249 22.648 22.039 22.921 21.871 23.089C21.703 23.257 21.493 23.467 21.703 23.845C22.2744 24.8093 22.9816 25.6863 23.803 26.449C24.6974 27.2393 25.7201 27.8714 26.827 28.318C27.205 28.507 27.436 28.486 27.646 28.318C27.856 28.15 28.591 27.226 28.843 26.848C29.095 26.47 29.347 26.533 29.683 26.659C30.019 26.785 31.888 27.688 32.266 27.877C32.644 28.066 32.875 28.15 32.98 28.318C33.0711 28.8676 33.0205 29.4314 32.833 29.956V30.019Z" fill="#E31E34"/>
								</svg>
							a._social-item.img-contain.cc-hover(href='#')
								<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M25 4C13.408 4 4 13.408 4 25C4 36.592 13.408 46 25 46C36.592 46 46 36.592 46 25C46 13.408 36.592 4 25 4ZM34.744 18.28C34.429 21.598 33.064 29.662 32.371 33.379C32.077 34.954 31.489 35.479 30.943 35.542C29.725 35.647 28.801 34.744 27.625 33.967C25.777 32.749 24.727 31.993 22.942 30.817C20.863 29.452 22.207 28.696 23.404 27.478C23.719 27.163 29.095 22.27 29.2 21.829C29.2146 21.7622 29.2126 21.6929 29.1943 21.627C29.176 21.5611 29.1419 21.5007 29.095 21.451C28.969 21.346 28.801 21.388 28.654 21.409C28.465 21.451 25.525 23.404 19.792 27.268C18.952 27.835 18.196 28.129 17.524 28.108C16.768 28.087 15.34 27.688 14.269 27.331C12.946 26.911 11.917 26.68 12.001 25.945C12.043 25.567 12.568 25.189 13.555 24.79C19.687 22.123 23.761 20.359 25.798 19.519C31.636 17.083 32.833 16.663 33.631 16.663C33.799 16.663 34.198 16.705 34.45 16.915C34.66 17.083 34.723 17.314 34.744 17.482C34.723 17.608 34.765 17.986 34.744 18.28Z" fill="#E31E34"/>
								</svg>

				._map-container
					<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/khodynskiy_bulvar_4/Z04YcwRhS00OQFtvfXt4cX5gZQ==/?indoorLevel=1&ll=37.531289%2C55.790231&mode=search&sctx=ZAAAAAgAEAAaKAoSCY9WtaSjUD5AEQgB%2BRIq%2BE1AEhIJ4nMn2H8d5z8Rwi%2F186Yizz8iBgABAgMEBSgKOABAAkgBYilyZWxldl9pcnJlbF9maWx0ZXI9MS4wOmlycmVsX2RjMzgxNTExX2V4cGI0cmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsVGhyZXNob2xkPTAuMmoCcnWdAc3MTD2gAQCoAQC9Afp%2FkLbCAQEA6gEA8gEA%2BAEAggIj0YXQvtC00YvQvdGB0LrQuNC5INCx0YPQu9GM0LLQsNGAIDSKAgCSAgCaAgxkZXNrdG9wLW1hcHM%3D&sll=37.531289%2C55.790231&sspn=0.012266%2C0.004638&text=%D1%85%D0%BE%D0%B4%D1%8B%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80%204&utm_medium=mapframe&utm_source=maps&z=16.88" style="color:#eee;font-size:12px;position:absolute;top:14px;">Ходынский бульвар, 4 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.531289%2C55.790231&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njc0NzQyMRJA0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCl0L7QtNGL0L3RgdC60LjQuSDQsdGD0LvRjNCy0LDRgCwgNCIKDQogFkIVMilfQg%2C%2C&sctx=ZAAAAAgAEAAaKAoSCY9WtaSjUD5AEQgB%2BRIq%2BE1AEhIJ4nMn2H8d5z8Rwi%2F186Yizz8iBgABAgMEBSgKOABAAkgBYilyZWxldl9pcnJlbF9maWx0ZXI9MS4wOmlycmVsX2RjMzgxNTExX2V4cGI0cmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsVGhyZXNob2xkPTAuMmoCcnWdAc3MTD2gAQCoAQC9Afp%2FkLbCAQEA6gEA8gEA%2BAEAggIj0YXQvtC00YvQvdGB0LrQuNC5INCx0YPQu9GM0LLQsNGAIDSKAgCSAgCaAgxkZXNrdG9wLW1hcHM%3D&sll=37.531289%2C55.790231&sspn=0.012266%2C0.004638&text=%D1%85%D0%BE%D0%B4%D1%8B%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80%204&z=16.88" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
