mixin dishSlider(cl)
	section.cc-dish-slider.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._slider-container
				._slider.js-cc-dish-slider
					._slider-wrapper.swiper-wrapper
						._slide.swiper-slide
							._item.relative.flex.jcc.aife


