mixin eventsExtra(cl)
	section.cc-events-extra.cc-outer(class= cl)
		._wrapper.cc-wrapper.relative
			._image-container.absolute.img-contain
				img._image(src='../images/rocket.svg', alt='#', loading='lazy')

			._title-container
				h2._title.cc-heading-2 Дополнительно
					span для вашего
					span праздника

			._description-container
				p._description В дополнение можно заказать ведущего, диджея, кенди-бар, бьюти-бар с аквагримом, чтобы праздник стал еще ярче.
