mixin eventItems(title, cl)
	section.cc-event-items.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._title-container
				h2._title.cc-heading-2= title
			- var n = 1;
			._items.js-cc-event-items
				while n < 11
					a._item.js-cc-event-item.cc-hover.img-cover(href='#', style='order:' + n)
						img._image(src='../images/event-items-' + n + '.jpg', alt='#', loading='lazy')
					- n++;
				- var m = 1
					while m < 7
						a._item.cc-hover.img-cover(href='#', style='order:' + n)
							img._image(src='../images/event-items-' + m + '.jpg', alt='#', loading='lazy')
						- m++;
						- n++;


