mixin events(title, cl)
	section.cc-events.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._title-container
				h2._title= title

			._items.flex.fwrap
				._item.-main.-birthday
					._image

					._text-container.relative
						._item-title-container
							h3._item-title ДЕНЬ РОЖДЕНИЯ
						._item-description-container
							p._item-description Крутой праздник для именинника

					._button.absolute
						+detailsButton
				//._item.-vip.-main
				//	._image
				//
				//	._text-container.relative
				//		._item-title-container
				//			h3._item-title VIP
				//				span._item-title-add Праздник
				//		._item-description-container
				//			p._item-description Эксклюзивные праздники для вашего ребенка
				//
				//	._button.absolute
				//		+detailsButton
				._item.-graduation
					._image

					._text-container.relative
						._item-title-container
							h3._item-title Выпускные
						._item-description-container
							p._item-description Весёлые выпускные, которые запомнятся надолго

					._button.absolute
						+detailsButton
				._item.-vip
					._image

					._text-container.relative
						._item-title-container
							h3._item-title VIP
								span._item-title-add Праздник
						._item-description-container
							p._item-description Эксклюзивные праздники для вашего ребенка

					._button.absolute
						+detailsButton
