mixin eventsExtra(cl, image, isVip)
	- image = image || '../images/rocket.svg'
	section.cc-events-extra.cc-outer(class= cl)
		._wrapper.cc-wrapper.relative
			._image-container.absolute.img-contain
				img._image(src= image, alt='#', loading='lazy')

			._title-container
				if isVip
					h2._title.cc-heading-2 Дополнения
						span к вашему
						span празднику
				else
					h2._title.cc-heading-2 Дополнительно
						span для вашего
						span праздника

			if !isVip
				._description-container
					p._description В дополнение можно заказать ведущего, диджея, кенди-бар, бьюти-бар с аквагримом, чтобы праздник стал еще ярче.
