mixin eventsHeroSlider(cl)
	section.cc-events-hero-slider.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._slider-container
				._slider.js-cc-events-hero-slider
					._wrapper.swiper-wrapper
						._slide.swiper-slide
							._item.img-contain
								img._image(src='../images/event-hero.svg', alt='#')
						._slide.swiper-slide
							._item.img-contain
								img._image(src='../images/event-hero.svg', alt='#')

				._nav-wrapper.flex.jcspb.aic
					._pagination.flex.fwrap.js-cc-events-hero-pagination
					._nav-container.flex
						button._nav.-prev.flex.jcc.aic.cc-nav.js-cc-events-hero-nav-prev
							<svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.7109 10C24.2632 10 24.7109 10.4477 24.7109 11C24.7109 11.5523 24.2632 12 23.7109 12L23.7109 10ZM1.71094 12C1.15865 12 0.710938 11.5523 0.710938 11C0.710938 10.4477 1.15865 10 1.71094 10V12ZM9.00699 0.289745C9.39926 -0.0990326 10.0324 -0.0962077 10.4212 0.296055C10.81 0.688318 10.8071 1.32148 10.4149 1.71025L9.00699 0.289745ZM6.185 4.49462L6.88894 5.20487L6.185 4.49462ZM6.185 17.5054L5.48105 18.2156L6.185 17.5054ZM10.4149 20.2897C10.8071 20.6785 10.81 21.3117 10.4212 21.7039C10.0324 22.0962 9.39925 22.099 9.00699 21.7103L10.4149 20.2897ZM1.75072 10.3733L0.758743 10.2469V10.2469L1.75072 10.3733ZM1.75072 11.6267L0.758743 11.7531V11.7531L1.75072 11.6267ZM23.7109 12L1.71094 12V10L23.7109 10L23.7109 12ZM10.4149 1.71025L6.88894 5.20487L5.48105 3.78436L9.00699 0.289745L10.4149 1.71025ZM6.88894 16.7951L10.4149 20.2897L9.00699 21.7103L5.48105 18.2156L6.88894 16.7951ZM6.88894 5.20487C5.46631 6.61487 4.46042 7.61395 3.77428 8.46833C3.10081 9.30693 2.81804 9.9086 2.74269 10.4998L0.758743 10.2469C0.89987 9.13968 1.42831 8.19544 2.2149 7.216C2.98881 6.25234 4.09182 5.16125 5.48105 3.78436L6.88894 5.20487ZM5.48105 18.2156C4.09182 16.8387 2.98881 15.7477 2.2149 14.784C1.42831 13.8046 0.89987 12.8603 0.758743 11.7531L2.74269 11.5002C2.81804 12.0914 3.10081 12.6931 3.77428 13.5317C4.46042 14.386 5.46631 15.3851 6.88894 16.7951L5.48105 18.2156ZM2.74269 10.4998C2.70035 10.8319 2.70035 11.1681 2.74269 11.5002L0.758743 11.7531C0.695002 11.253 0.695002 10.747 0.758743 10.2469L2.74269 10.4998Z" fill="#1B1918"/>
							</svg>
						button._nav.-next.flex.jcc.aic.cc-nav.js-cc-events-hero-nav-next
							<svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.71094 10C1.15865 10 0.710937 10.4477 0.710938 11C0.710938 11.5523 1.15865 12 1.71094 12L1.71094 10ZM23.7109 12C24.2632 12 24.7109 11.5523 24.7109 11C24.7109 10.4477 24.2632 10 23.7109 10V12ZM16.4149 0.289745C16.0226 -0.0990326 15.3895 -0.0962077 15.0007 0.296055C14.6119 0.688318 14.6147 1.32148 15.007 1.71025L16.4149 0.289745ZM19.2369 4.49462L18.5329 5.20487L19.2369 4.49462ZM19.2369 17.5054L19.9408 18.2156L19.2369 17.5054ZM15.007 20.2897C14.6147 20.6785 14.6119 21.3117 15.0007 21.7039C15.3895 22.0962 16.0226 22.099 16.4149 21.7103L15.007 20.2897ZM23.6712 10.3733L24.6631 10.2469V10.2469L23.6712 10.3733ZM23.6712 11.6267L24.6631 11.7531V11.7531L23.6712 11.6267ZM1.71094 12L23.7109 12V10L1.71094 10L1.71094 12ZM15.007 1.71025L18.5329 5.20487L19.9408 3.78436L16.4149 0.289745L15.007 1.71025ZM18.5329 16.7951L15.007 20.2897L16.4149 21.7103L19.9408 18.2156L18.5329 16.7951ZM18.5329 5.20487C19.9556 6.61487 20.9615 7.61395 21.6476 8.46833C22.3211 9.30693 22.6038 9.9086 22.6792 10.4998L24.6631 10.2469C24.522 9.13968 23.9936 8.19544 23.207 7.216C22.4331 6.25234 21.3301 5.16125 19.9408 3.78436L18.5329 5.20487ZM19.9408 18.2156C21.3301 16.8387 22.4331 15.7477 23.207 14.784C23.9936 13.8046 24.522 12.8603 24.6631 11.7531L22.6792 11.5002C22.6038 12.0914 22.3211 12.6931 21.6476 13.5317C20.9615 14.386 19.9556 15.3851 18.5329 16.7951L19.9408 18.2156ZM22.6792 10.4998C22.7215 10.8319 22.7215 11.1681 22.6792 11.5002L24.6631 11.7531C24.7269 11.253 24.7269 10.747 24.6631 10.2469L22.6792 10.4998Z" fill="#1B1918"/>
							</svg>
