mixin eventHero(type, image, mobile)
	if type === 'birthday'
		section.cc-event-hero.-birthday.cc-outer
			._wrapper.cc-wrapper.relative.flex.aife
				._image-container.absolute.img-contain
					img._image.cc-desktop(src= image, alt='#')
					img._image.cc-mobile(src= mobile, alt='#')
				._title-container.relative
					h1._title.cc-heading-1 ДЕНЬ РОЖДЕНИЯ
						br
						| В CRAZY CART
