mixin feedback(title, cl)
	section.cc-feedback.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._title-container
				h2._title.cc-heading-2= title

			._slider-container
				- var n = 0;
				._slider.js-cc-feedback-slider
					._slider-wrapper.swiper-wrapper
						while n < 4
							._slide.swiper-slide
								._item
									._item-upper.flex.aic
										._item-image-container.img-cover
											img._item-image(src='../images/feedback-1.jpg', alt='#', loading='lazy')
										._item-title-container
											h4._item-title Александра Бортич
									._item-text-container
										._item-description-container
											p._item-description Прокат абсолютно безопасен, машинка с низким центром тяжести и находится близко к полу, также есть ножки для защиты от переворота. На трассе инструктор, который экипирует ребенка защитой, научит управлять картингом и проследит за катанием, а также проведет инструктаж по безопасному катанию.
										._item-button
											+feedbackButton('Посмотреть отзыв в источнике')
							- n++;

				._slider-nav-wrapper.flex.aic.jcspb
					._pagination.js-cc-feedback-pagination
					._nav-container.flex
						button._nav.-prev.flex.jcc.aic.js-cc-feedback-nav-prev
							<svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.7129 10C24.2652 10 24.7129 10.4477 24.7129 11C24.7129 11.5523 24.2652 12 23.7129 12L23.7129 10ZM1.71289 12C1.16061 12 0.712891 11.5523 0.712891 11C0.712891 10.4477 1.16061 10 1.71289 10V12ZM9.00895 0.289745C9.40121 -0.0990326 10.0344 -0.0962077 10.4231 0.296055C10.8119 0.688318 10.8091 1.32148 10.4168 1.71025L9.00895 0.289745ZM6.18695 4.49462L6.8909 5.20487L6.18695 4.49462ZM6.18695 17.5054L5.48301 18.2156L6.18695 17.5054ZM10.4168 20.2897C10.8091 20.6785 10.8119 21.3117 10.4231 21.7039C10.0344 22.0962 9.40121 22.099 9.00895 21.7103L10.4168 20.2897ZM1.75267 10.3733L0.760696 10.2469V10.2469L1.75267 10.3733ZM1.75267 11.6267L0.760696 11.7531V11.7531L1.75267 11.6267ZM23.7129 12L1.71289 12V10L23.7129 10L23.7129 12ZM10.4168 1.71025L6.8909 5.20487L5.48301 3.78436L9.00895 0.289745L10.4168 1.71025ZM6.8909 16.7951L10.4168 20.2897L9.00895 21.7103L5.48301 18.2156L6.8909 16.7951ZM6.8909 5.20487C5.46826 6.61487 4.46238 7.61395 3.77623 8.46833C3.10276 9.30693 2.82 9.9086 2.74464 10.4998L0.760696 10.2469C0.901823 9.13968 1.43027 8.19544 2.21685 7.216C2.99076 6.25234 4.09377 5.16125 5.48301 3.78436L6.8909 5.20487ZM5.48301 18.2156C4.09377 16.8387 2.99076 15.7477 2.21685 14.784C1.43027 13.8046 0.901823 12.8603 0.760696 11.7531L2.74464 11.5002C2.82 12.0914 3.10276 12.6931 3.77623 13.5317C4.46237 14.386 5.46826 15.3851 6.8909 16.7951L5.48301 18.2156ZM2.74464 10.4998C2.70231 10.8319 2.70231 11.1681 2.74464 11.5002L0.760696 11.7531C0.696955 11.253 0.696955 10.747 0.760696 10.2469L2.74464 10.4998Z" fill="white"/>
							</svg>
						button._nav.-next.flex.jcc.aic.js-cc-feedback-nav-next
							<svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.71289 10C1.16061 10 0.712891 10.4477 0.712891 11C0.712891 11.5523 1.16061 12 1.71289 12L1.71289 10ZM23.7129 12C24.2652 12 24.7129 11.5523 24.7129 11C24.7129 10.4477 24.2652 10 23.7129 10V12ZM16.4168 0.289745C16.0246 -0.0990326 15.3914 -0.0962077 15.0026 0.296055C14.6139 0.688318 14.6167 1.32148 15.0089 1.71025L16.4168 0.289745ZM19.2388 4.49462L18.5349 5.20487L19.2388 4.49462ZM19.2388 17.5054L19.9428 18.2156L19.2388 17.5054ZM15.0089 20.2897C14.6167 20.6785 14.6139 21.3117 15.0026 21.7039C15.3914 22.0962 16.0246 22.099 16.4168 21.7103L15.0089 20.2897ZM23.6731 10.3733L24.6651 10.2469V10.2469L23.6731 10.3733ZM23.6731 11.6267L24.6651 11.7531V11.7531L23.6731 11.6267ZM1.71289 12L23.7129 12V10L1.71289 10L1.71289 12ZM15.0089 1.71025L18.5349 5.20487L19.9428 3.78436L16.4168 0.289745L15.0089 1.71025ZM18.5349 16.7951L15.0089 20.2897L16.4168 21.7103L19.9428 18.2156L18.5349 16.7951ZM18.5349 5.20487C19.9575 6.61487 20.9634 7.61395 21.6495 8.46833C22.323 9.30693 22.6058 9.9086 22.6811 10.4998L24.6651 10.2469C24.524 9.13968 23.9955 8.19544 23.2089 7.216C22.435 6.25234 21.332 5.16125 19.9428 3.78436L18.5349 5.20487ZM19.9428 18.2156C21.332 16.8387 22.435 15.7477 23.2089 14.784C23.9955 13.8046 24.524 12.8603 24.6651 11.7531L22.6811 11.5002C22.6058 12.0914 22.323 12.6931 21.6495 13.5317C20.9634 14.386 19.9575 15.3851 18.5349 16.7951L19.9428 18.2156ZM22.6811 10.4998C22.7235 10.8319 22.7235 11.1681 22.6811 11.5002L24.6651 11.7531C24.7288 11.253 24.7288 10.747 24.6651 10.2469L22.6811 10.4998Z" fill="white"/>
							</svg>
