mixin h2(title)
	.heading-2
		<svg width="7" height="9" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M5.36179 4.5L7 0H3.27734L1.63821 4.5L0 9H3.72359L5.36179 4.5Z" fill="white"/>
		</svg>
		h2=mixins
