mixin imgLazy(src, alt)
	img(src=src, alt=alt, class='lazy')&attributes(attributes)

mixin img(src, alt)
	img(src=src, alt=alt)&attributes(attributes)

mixin cityButton
	.cc-city-picker.relative
		button._button.flex.aic
			span._point-container.img-contain.cc-icon
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_537_1202)">
				<path d="M9.85382 13.134L9.26365 12.6712L9.85382 13.134ZM6.1461 13.134L5.55592 13.5968L6.1461 13.134ZM7.99996 14.6706V13.9206V14.6706ZM12.5833 6.40612C12.5833 7.15475 12.1861 8.20039 11.5182 9.38126C10.8669 10.5328 10.0223 11.7038 9.26365 12.6712L10.444 13.5968C11.2252 12.6006 12.1204 11.3634 12.8238 10.1198C13.5106 8.90547 14.0833 7.56898 14.0833 6.40612H12.5833ZM6.73627 12.6712C5.97763 11.7038 5.13307 10.5328 4.48173 9.38126C3.81379 8.20039 3.41663 7.15475 3.41663 6.40612H1.91663C1.91663 7.56898 2.48928 8.90547 3.17612 10.1198C3.87956 11.3634 4.77473 12.6006 5.55592 13.5968L6.73627 12.6712ZM3.41663 6.40612C3.41663 3.59796 5.5195 1.41699 7.99996 1.41699V-0.0830078C4.58938 -0.0830078 1.91663 2.87502 1.91663 6.40612H3.41663ZM7.99996 1.41699C10.4804 1.41699 12.5833 3.59796 12.5833 6.40612H14.0833C14.0833 2.87502 11.4105 -0.0830078 7.99996 -0.0830078V1.41699ZM9.26365 12.6712C8.84552 13.2044 8.58862 13.5279 8.36465 13.7313C8.17279 13.9056 8.08193 13.9206 7.99996 13.9206V15.4206C8.56681 15.4206 9.0012 15.1796 9.37323 14.8416C9.71314 14.5329 10.0588 14.088 10.444 13.5968L9.26365 12.6712ZM5.55592 13.5968C5.94116 14.088 6.28678 14.5329 6.62669 14.8416C6.99872 15.1796 7.43311 15.4206 7.99996 15.4206V13.9206C7.91799 13.9206 7.82713 13.9056 7.63527 13.7313C7.41129 13.5279 7.15439 13.2044 6.73627 12.6712L5.55592 13.5968ZM5.24996 6.66699C5.24996 8.18578 6.48118 9.41699 7.99996 9.41699V7.91699C7.3096 7.91699 6.74996 7.35735 6.74996 6.66699H5.24996ZM7.99996 9.41699C9.51874 9.41699 10.75 8.18578 10.75 6.66699H9.24996C9.24996 7.35735 8.69031 7.91699 7.99996 7.91699V9.41699ZM10.75 6.66699C10.75 5.14821 9.51874 3.91699 7.99996 3.91699V5.41699C8.69031 5.41699 9.24996 5.97664 9.24996 6.66699H10.75ZM7.99996 3.91699C6.48118 3.91699 5.24996 5.14821 5.24996 6.66699H6.74996C6.74996 5.97664 7.3096 5.41699 7.99996 5.41699V3.91699Z" fill="white"/>
				</g>
				<defs>
				<clipPath id="clip0_537_1202">
				<rect width="16" height="16" fill="white"/>
				</clipPath>
				</defs>
				</svg>
			span._title Москва
			span._arrow-container.img-contain.cc-icon
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.3333 7.33325L10.1684 8.50856C9.23946 9.44585 8.77498 9.9145 8.20885 9.98666C8.07014 10.0043 7.92978 10.0043 7.79107 9.98666C7.22494 9.9145 6.76046 9.44585 5.8315 8.50857L4.66663 7.33325" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
				</svg>

mixin addresses
	.cc-address-picker.relative
		button._button.flex.aic
			span._title ТРЦ «Авиапарк». Ходынский б-р, 4
			._arrow-container.img-contain.cc-icon
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.3333 7.33325L10.1684 8.50856C9.23946 9.44585 8.77498 9.9145 8.20885 9.98666C8.07014 10.0043 7.92978 10.0043 7.79107 9.98666C7.22494 9.9145 6.76046 9.44585 5.8315 8.50857L4.66663 7.33325" stroke="white" stroke-linecap="round"/>
				</svg>

mixin ctaButton
	a.cc-button-cta(href='#')
		span._title Заказать билет
