include ../components/news-item

mixin news(title, cl, button, count, buttonText)
	- var count = count || 9
	- var buttonText = buttonText || 'Больше новостей';
	section.cc-news.cc-outer(class= cl)
		._wrapper.cc-wrapper
			if title
				._title-container
					h2._title.cc-heading-2 новости CRAZY CART

			- var n = 0;
			._grid
				while n < count
					+newsItem
					-n ++;

			._button-container
				+formButton('cc-button-form_red-border', buttonText, button)
