mixin set(cl)
	section.cc-set.cc-outer
		._wrapper.cc-wrapper
			._title-wrapper.flex.fwrap.aife
				._title-container
					h2._title Сет на 6 детей
				._price-wrapper.flex.fdc
					._price-title-container
						span._price-title Цена
					._price-value-container
						span._price-value 6 000 ₽

			._items

				.cc-set-item.-main._item
					._title-wrapper
						._index-container
							span._index [ 001 ]
						._title-container
							h3._title.cc-heading-6 Выберите вариант Закуски и основного блюда
					._items.flex
						._item
							._item-index-container
								span._item-index //001
							._item-title-container
								h4._item-title.cc-title-15 Овощной салат масло-сметана
							._item-value-container
								span._item-value // 500 гр
						._item
							//._item-index-container
							//	span._item-index //002
							._item-title-container
								h4._item-title.cc-title-15 Куриная котлета с брокколи
							._item-value-container
								span._item-value // 650 гр
						._item
							._item-index-container
								span._item-index //002
							._item-title-container
								h4._item-title.cc-title-15 Овощной салат масло-сметана
							._item-value-container
								span._item-value // 500 гр
						._item
							//._item-index-container
							//	span._item-index //002
							._item-title-container
								h4._item-title.cc-title-15 Куриная котлета с брокколи
							._item-value-container
								span._item-value // 650 гр
						._item
							._item-index-container
								span._item-index //003
							._item-title-container
								h4._item-title.cc-title-15 Овощной салат масло-сметана
							._item-value-container
								span._item-value // 500 гр
						._item
							//._item-index-container
							//	span._item-index //002
							._item-title-container
								h4._item-title.cc-title-15 Куриная котлета с брокколи
							._item-value-container
								span._item-value // 650 гр
						._item
							._item-index-container
								span._item-index //004
							._item-title-container
								h4._item-title.cc-title-15 Овощной салат масло-сметана
							._item-value-container
								span._item-value // 500 гр
						._item
							//._item-index-container
							//	span._item-index //002
							._item-title-container
								h4._item-title.cc-title-15 Куриная котлета с брокколи
							._item-value-container
								span._item-value // 650 гр

				.cc-set-item._item
					._title-wrapper
						._index-container
							span._index [ 002 ]
						._title-container
							h3._title.cc-heading-6 Выберите гарнир
					._items.flex
						._item
							._item-index-container
								span._item-index //001
							._item-title-container
								h4._item-title.cc-title-15 Картофель по-деревенски
							._item-value-container
								span._item-value // 700 гр
						._item
							._item-index-container
								span._item-index //002
							._item-title-container
								h4._item-title.cc-title-15 Картофель фри
							._item-value-container
								span._item-value // 10 шт
						._item
							._item-index-container
								span._item-index //003
							._item-title-container
								h4._item-title.cc-title-15 Картофель по-деревенски
							._item-value-container
								span._item-value // 700 гр
						._item
							._item-index-container
								span._item-index //004
							._item-title-container
								h4._item-title.cc-title-15 Картофель фри
							._item-value-container
								span._item-value // 10 шт


				.cc-set-item._item
					._title-wrapper
						._index-container
							span._index [ 003 ]
						._title-container
							h3._title.cc-heading-6 Выберите напиток
					._items.flex
						._item
							._item-index-container
								span._item-index //001
							._item-title-container
								h4._item-title.cc-title-15 Домашний морс из деревенской клюквы
							._item-value-container
								span._item-value // 700 гр
						._item
							._item-index-container
								span._item-index //002
							._item-title-container
								h4._item-title.cc-title-15 Домашний компот из сухофруктов
							._item-value-container
								span._item-value // 10 шт

				.cc-set-item.-short._item
					._title-wrapper
						._index-container
							span._index [ 004 ]
						._title-container
							h3._title.cc-heading-6 Пицца маргарита
					._items.flex
						._item
							//._item-index-container
							//	span._item-index //001
							//._item-title-container
							//	h4._item-title.cc-title-15 Домашний морс из деревенской клюквы
							._item-value-container
								span._item-value // 30 см
