mixin shows(cl, expanded)
	- var jsContainerClass = expanded ? '' : 'cc-shows_hide-items js-cc-shows'
	section.cc-shows.cc-outer(class= cl + ' ' + jsContainerClass)
		._wrapper.cc-wrapper.relative
			._title-container
				h2._title.cc-heading-2.flex.fdc.cc-desktop
					span._title-first.relative.flex.aife Наши
						span._count-container.absolute.flex.jcc.aic
							span._count 21
					span шоу-программы
				h2._title.cc-heading-2.flex.fdc.cc-mobile
					span._title-first.relative.flex.aife Наши шоу-
						span._count-container.absolute.flex.jcc.aic
							span._count 21
					span программы

			- var n = 0;
			._items.relative
				while n < 15
					a._item.relative.js-cc-shows-item(href='#')
						._image-container.img-cover.absolute
							img._image(src='../images/shows-1.jpg', alt='#', loading='lazy')
						._item-title-container.relative
							h3._item-title Трансформеры Шоу
						._item-button.absolute
							+showButton('Подробнее')
					- n++;

			if expanded
				._expanded-button-container.flex.jcc
					+detailsButton('cc-button-details_more', 'заказать праздник')
			else
				._button.absolute.jcc.aife
					+detailsButton('cc-button-details_more js-cc-shows-button', 'Посмотреть всё', true)
