mixin simpleHero(image, mobile, cl)
	section.cc-simple-hero.cc-outer(class= cl)
		._wrapper.cc-wrapper
			._image-container
				img._image.cc-desktop(src= image, alt='#')
				img._image.cc-mobile(src= mobile, alt='#')
