mixin vacancies(title, cl, button, count)
	section.cc-vacancies.cc-outer(class= cl)
		._wrapper.cc-wrapper
			if button
				._title-container
					h2._title.cc-heading-2= title

			._content-container.flex.aic.jcspb
				- var n = 0;
				._grid
					while n < count
						._item.flex.fdc
							._item-title-container
								h3._item-title.cc-heading-6 вакансия
							._item-description-container.fg1
								p Лидерство в продажах масштабирует культурный отраслевой стандарт, не считаясь с затратами. Спонсорство непосредственно допускает формирование имиджа. Согласно предыдущему, информационная связь с потребителем интегрирована.
								ul
									li ст. м. Дубровка, ТРЦ Мозайка
									li ст. м. Алтуфьево, ТРЦ Весна
									li ст. м. Саларьево, ТРЦ Саларис
							._item-button-container
								+ctaButton('cc-button-cta_news', 'откликнуться')
						- n ++;

				if button
					._button-container
						+detailsButton('cc-button-details_about', 'посмотреть все вакансии')
