include ../../components/simple-hero
include ../../components/promotions

+breadcrumbs
+simpleHero('../images/promo-hero.svg', '../images/promo-hero-mobile.svg')
+tabsNav
+promotions('', 'cc-promotions_promo', true)
