include ../../components/events-hero-slider
include ../../components/events
include ../../components/red-form
include ../../components/event-items
include ../../components/events-extra
include ../../components/shows
include ../../components/promotions
include ../../components/emotions
include ../../components/feedback
include ../../components/red-form

+breadcrumbs
+eventsHeroSlider
+events('какой праздник запланируем сегодня?')
+redForm('cc-red-form_events', 0)
+eventItems('во что будем играть на празднике', 'cc-event-items_events', true, 'подробнее о праздниках')
+eventsExtra('cc-events-extra_birthday', '../images/paints.svg')
+shows
+promotions('Акции', 'cc-promotions_events')
+emotions('посмотрите, как проходят праздники в CRAZY CART', 'cc-emotions_events')
+feedback('Отзывы', 'cc-feedback_events')
+redForm('cc-red-form_events-pre-footer', 1)
