include ../../components/event-hero
include ../../components/rates-item
include ../../components/birthday-benefits
include ../../components/birthday-parents
include ../../components/banquet-halls
include ../../components/birthday-cake
include ../../components/set
include ../../components/dish-slider
include ../../components/cake
include ../../components/emotions
include ../../components/animators
include ../../components/events-extra
include ../../components/red-form

+breadcrumbs
+eventHero('birthday', '../images/event-birthday.svg', '../images/event-birthday-mobile.png')
+tabsNav
+tabsNav('cc-tabs-nav_age', ['4-8 лет', 'Дети 9-14 лет'], 'Выберите возраст именинника', true)

section.cc-rates.cc-outer
	._wrapper.cc-wrapper
		._section.-prepare.-active.js-cc-age-section(data-age-id="0")
			._title-container
				h2._title Дети 4-8 лет
			._items
				+ratesItem('Стандарт')
				+ratesItem('Популярный')
				+ratesItem('VIP')
				+ratesItem('VIP Максимальный', false, 'cc-rates-item_prices-ver')

		._section.-blue.js-cc-age-section(data-age-id="1")
			._title-container
				h2._title Дети 9-14 лет
			._items
				+ratesItem('Стандарт')
				+ratesItem('Популярный')
				+ratesItem('VIP')
				+ratesItem('VIP Максимальный')

+birthdayBenefits
+birthdayParents('дня рождения')
+banquetHalls
+birthdayCake
+set
+dishSlider
+cake
+emotions('счастливые именинники', 'cc-emotions_events')
+animators('cc-animators_birthday')
+eventsExtra('cc-events-extra_birthday', '../images/paints.svg')
+redForm('cc-red-form_events-pre-footer', 0)
