include ../data/config.pug
include ../components/mixins

block variables

doctype html
html(lang='ru')
	head
		include ../parts/head.pug

	body(class=bodyClass)
		input#cc-location-addresses(type='hidden', value='ТРЦ «Авиапарк». Ходынский б-р, 4|ТРЦ "ПИК". Сенная пл., 5')

		block header
			include ../parts/header.pug

		main.cc-main
			block content

		block footer
			include ../parts/footer.pug

		block scripts
			script(src='js/main.js?v=' + siteVersion)
