header.cc-header
	._wrapper
		._upper.relative.flex.aic.jcspb
			._upper-left.flex.aic
				._city
					+cityButton
				._address
					+addresses
			a._logo.cc-hover.img-contain(href='#')
				+img('../images/logo.svg', '#')._logo-image
			._upper-right.flex.aic
				._items.flex.aic
					+timeItem
					+phoneItem
				._cta
					+ctaButton
		._lower.flex.jcc
			nav._nav
				ul._menu.flex.aic.jcc.fwrap
					li._menu-item.-active
						a._menu-link(href='#') День рождения
					li._menu-item.-has-submenu
						a._menu-link(href='#') Выбрать праздник
						ul._submenu
							li._menu-item
								a._menu-link(href='#') День рождения
							li._menu-item
								a._menu-link(href='#') VIP
							li._menu-item
								a._menu-link(href='#') Выпускной
							li._menu-item
								a._menu-link(href='#') Ёлки
					li._menu-item
						a._menu-link(href='#') Билеты
					li._menu-item
						a._menu-link(href='#') Сертификаты
					li._menu-item
						a._menu-link(href='#') Акции
					li._menu-item
						a._menu-link(href='#') Цены
					li._menu-item
						a._menu-link(href='#') Адреса парков
					li._menu-item
						a._menu-link(href='#') Развлечения для детей
					li._menu-item
						a._menu-link(href='#') Франшиза
