header.cc-header
	._wrapper
		._upper.relative.flex.aic.jcspb
			._upper-left.flex.aic
				._city
					+cityButton
				._address
					+addresses
			a._logo.cc-hover.img-contain(href='#')
				+img('../images/logo.svg', '#')._logo-image
			._upper-right.flex.aic
				._items.flex.aic
					+timeItem
					+phoneItem
					button._menu-button.js-cc-menu-button
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 12C6 13.1046 5.10457 14 4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12Z" stroke="white" stroke-width="1.5"/>
						<path d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z" stroke="white" stroke-width="1.5"/>
						<path d="M22 12C22 13.1046 21.1046 14 20 14C18.8954 14 18 13.1046 18 12C18 10.8954 18.8954 10 20 10C21.1046 10 22 10.8954 22 12Z" stroke="white" stroke-width="1.5"/>
						<path d="M6 4C6 5.10457 5.10457 6 4 6C2.89543 6 2 5.10457 2 4C2 2.89543 2.89543 2 4 2C5.10457 2 6 2.89543 6 4Z" stroke="white" stroke-width="1.5"/>
						<path d="M14 4C14 5.10457 13.1046 6 12 6C10.8954 6 10 5.10457 10 4C10 2.89543 10.8954 2 12 2C13.1046 2 14 2.89543 14 4Z" stroke="white" stroke-width="1.5"/>
						<path d="M22 4C22 5.10457 21.1046 6 20 6C18.8954 6 18 5.10457 18 4C18 2.89543 18.8954 2 20 2C21.1046 2 22 2.89543 22 4Z" stroke="white" stroke-width="1.5"/>
						<path d="M6 20C6 21.1046 5.10457 22 4 22C2.89543 22 2 21.1046 2 20C2 18.8954 2.89543 18 4 18C5.10457 18 6 18.8954 6 20Z" stroke="white" stroke-width="1.5"/>
						<path d="M14 20C14 21.1046 13.1046 22 12 22C10.8954 22 10 21.1046 10 20C10 18.8954 10.8954 18 12 18C13.1046 18 14 18.8954 14 20Z" stroke="white" stroke-width="1.5"/>
						<path d="M22 20C22 21.1046 21.1046 22 20 22C18.8954 22 18 21.1046 18 20C18 18.8954 18.8954 18 20 18C21.1046 18 22 18.8954 22 20Z" stroke="white" stroke-width="1.5"/>
						</svg>
				._cta
					+ctaButton

			.cc-mobile-menu._mobile-menu.js-cc-mobile-menu
				._wrapper
					button._close.flex.jcc.aic.js-cc-mobile-menu-close
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 5L19 19M5.00003 19L12 12L19 5" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
						</svg>
					nav._nav
						._nav-item
							._nav-title-container
								h3._nav-title Выбрать ПРАЗДНИКИ
							ul._nav-list
								li._nav-list-item
									a._nav-link(href='#') Дни Рождения
								li._nav-list-item
									a._nav-link(href='#') Выпускные
								li._nav-list-item
									a._nav-link(href='#') ВИП
						._nav-item
							._nav-title-container
								h3._nav-title БРОНИРОВАНИЕ
							ul._nav-list
								li._nav-list-item
									a._nav-link(href='#') Билеты
								li._nav-list-item
									a._nav-link(href='#') Сертификаты
								li._nav-list-item
									a._nav-link(href='#') Цены
								li._nav-list-item
									a._nav-link(href='#') Развлечения для детей
						._nav-item
							._nav-title-container
								h3._nav-title КРЭЗИ КАРТ
							ul._nav-list
								li._nav-list-item
									a._nav-link(href='#') О нас
								li._nav-list-item
									a._nav-link(href='#') Адреса парков
								li._nav-list-item
									a._nav-link(href='#') Акции
								li._nav-list-item
									a._nav-link(href='#') Новости
								li._nav-list-item
									a._nav-link(href='#') Галерея
								li._nav-list-item
									a._nav-link(href='#') FAQ
								li._nav-list-item
									a._nav-link(href='#') Вакансии
								li._nav-list-item
									a._nav-link(href='#') Контакты
						._nav-item
							ul._nav-list
								li._nav-list-item
									a._nav-link(href='#') ФРАНШИЗА


					._city-container
						+cityButton('cc-city-picker_mobile')

					._place-container
						+cityButton('cc-city-picker_mobile', ['ТРЦ «Авиапарк». Ходынский б-р, 4', 'ТРЦ "ПИК". Сенная пл., 5'])

					._time-container
						+timeItem

					._social-container.flex.fwrap.jcc
						a._social(href='#')
							<svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M9.83333 0C7.35798 0 4.98401 0.98333 3.23367 2.73367C1.48333 4.48401 0.5 6.85798 0.5 9.33333V32.6667C0.5 35.142 1.48333 37.516 3.23367 39.2663C4.98401 41.0167 7.35798 42 9.83333 42H33.1667C35.642 42 38.016 41.0167 39.7663 39.2663C41.5167 37.516 42.5 35.142 42.5 32.6667V9.33333C42.5 6.85798 41.5167 4.48401 39.7663 2.73367C38.016 0.98333 35.642 0 33.1667 0H9.83333ZM33.9413 16.4617C34.2848 15.9468 34.4096 15.3166 34.2884 14.7096C34.1672 14.1027 33.8099 13.5688 33.295 13.2253C32.7801 12.8819 32.1499 12.757 31.543 12.8782C30.936 12.9994 30.4021 13.3568 30.0587 13.8717C29.2327 14.9683 28.367 16.0183 27.3543 16.9517C26.1807 18.0343 24.993 18.8463 23.8357 19.327L23.817 14.8937C23.7501 14.3261 23.4773 13.8028 23.0502 13.423C22.6231 13.0432 22.0715 12.8334 21.5 12.8333C20.2353 12.9057 19.1667 13.839 19.1667 15.1667V25.3703C14.6213 24.1103 12.1667 19.7003 12.1667 15.1667C12.1667 14.5478 11.9208 13.9543 11.4832 13.5168C11.0457 13.0792 10.4522 12.8333 9.83333 12.8333C9.21449 12.8333 8.621 13.0792 8.18342 13.5168C7.74583 13.9543 7.5 14.5478 7.5 15.1667C7.5 23.6413 13.3567 30.3333 21.5 30.3333C22.1188 30.3333 22.7123 30.0875 23.1499 29.6499C23.5875 29.2123 23.8333 28.6188 23.8333 28V24.353C26.9413 24.6003 29.956 26.796 31.0807 29.043C31.2117 29.3267 31.3984 29.5812 31.6297 29.7913C31.8609 30.0015 32.132 30.163 32.4269 30.2664C32.7218 30.3698 33.0345 30.4129 33.3463 30.3932C33.6582 30.3734 33.9629 30.2912 34.2424 30.1515C34.5219 30.0117 34.7705 29.8173 34.9734 29.5796C35.1763 29.342 35.3294 29.066 35.4236 28.7681C35.5179 28.4701 35.5513 28.1563 35.5219 27.8452C35.4925 27.5341 35.401 27.232 35.2527 26.957C34.1373 24.724 32.056 22.6357 29.494 21.273C29.8393 20.9907 30.1823 20.692 30.5207 20.3817C31.8062 19.2093 32.9538 17.8941 33.9413 16.4617Z" fill="white"/>
							</svg>
						a._social(href='#')
							<svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M42.5 9.555C42.4764 8.649 42.4063 7.74481 42.29 6.846C42.1332 6.05876 41.8719 5.29601 41.513 4.578C41.1377 3.79912 40.6336 3.08916 40.022 2.478C39.4048 1.87363 38.6961 1.37044 37.922 0.987C37.203 0.635133 36.4403 0.380884 35.654 0.231C34.7637 0.0976487 33.866 0.0204962 32.966 0H10.055C9.149 0.0235964 8.24481 0.0936885 7.346 0.21C6.55876 0.366804 5.79601 0.628117 5.078 0.987C4.29912 1.36235 3.58916 1.86642 2.978 2.478C2.37363 3.09521 1.87044 3.80393 1.487 4.578C1.13513 5.29696 0.880884 6.05971 0.731 6.846C0.597649 7.73626 0.520496 8.63404 0.5 9.534V32.445C0.523596 33.351 0.593688 34.2552 0.71 35.154C0.866804 35.9412 1.12812 36.704 1.487 37.422C1.86235 38.2009 2.36642 38.9108 2.978 39.522C3.59521 40.1264 4.30393 40.6296 5.078 41.013C5.79696 41.3649 6.55971 41.6191 7.346 41.769C8.23626 41.9023 9.13404 41.9795 10.034 42H32.945C33.851 41.9764 34.7552 41.9063 35.654 41.79C36.4412 41.6332 37.204 41.3719 37.922 41.013C38.7009 40.6377 39.4108 40.1336 40.022 39.522C40.6264 38.9048 41.1296 38.1961 41.513 37.422C41.8649 36.703 42.1191 35.9403 42.269 35.154C42.4023 34.2637 42.4795 33.366 42.5 32.466V10.668V9.555ZM21.983 35.7C19.461 35.6876 16.9832 35.0374 14.78 33.81L6.8 35.91L8.9 28.098C7.54574 25.8225 6.82097 23.2279 6.8 20.58C6.80836 17.6041 7.69713 14.6973 9.35436 12.2256C11.0116 9.75387 13.3632 7.82781 16.1129 6.69C18.8627 5.55219 21.8877 5.25351 24.8068 5.83157C27.726 6.40963 30.4089 7.83859 32.5175 9.93847C34.6261 12.0383 36.0662 14.7152 36.6564 17.632C37.2466 20.5487 36.9605 23.5749 35.8342 26.3294C34.7078 29.0839 32.7915 31.4434 30.3267 33.1109C27.8619 34.7784 24.9588 35.6793 21.983 35.7ZM21.983 8.127C19.7566 8.15248 17.5767 8.76747 15.6653 9.90935C13.7538 11.0512 12.1791 12.6792 11.1014 14.6276C10.0237 16.576 9.4816 18.7751 9.53018 21.0011C9.57876 23.2271 10.2163 25.4005 11.378 27.3L11.672 27.783L10.412 32.382L15.2 31.08L15.662 31.353C17.5721 32.4781 19.7452 33.0793 21.962 33.096C25.3037 33.096 28.5086 31.7685 30.8715 29.4055C33.2345 27.0426 34.562 23.8377 34.562 20.496C34.562 17.1543 33.2345 13.9494 30.8715 11.5865C28.5086 9.2235 25.3247 8.127 21.983 8.127ZM29.333 26.019C29.0579 26.4778 28.6897 26.8737 28.252 27.1812C27.8142 27.4887 27.3169 27.7008 26.792 27.804C26.0077 27.9473 25.2003 27.8969 24.44 27.657C23.7246 27.4333 23.0234 27.1669 22.34 26.859C19.7439 25.5563 17.5298 23.6027 15.914 21.189C15.036 20.0707 14.5032 18.7206 14.381 17.304C14.3685 16.7156 14.4798 16.1311 14.7077 15.5884C14.9356 15.0457 15.2751 14.557 15.704 14.154C15.8303 14.0108 15.9853 13.8956 16.159 13.816C16.3326 13.7365 16.521 13.6942 16.712 13.692H17.3C17.531 13.692 17.846 13.692 18.14 14.343C18.434 14.994 19.211 16.947 19.316 17.136C19.3676 17.2367 19.3945 17.3483 19.3945 17.4615C19.3945 17.5747 19.3676 17.6863 19.316 17.787C19.2232 18.0152 19.0957 18.2277 18.938 18.417C18.749 18.648 18.539 18.921 18.371 19.089C18.203 19.257 17.993 19.467 18.203 19.845C18.7744 20.8093 19.4816 21.6863 20.303 22.449C21.1974 23.2393 22.2201 23.8714 23.327 24.318C23.705 24.507 23.936 24.486 24.146 24.318C24.356 24.15 25.091 23.226 25.343 22.848C25.595 22.47 25.847 22.533 26.183 22.659C26.519 22.785 28.388 23.688 28.766 23.877C29.144 24.066 29.375 24.15 29.48 24.318C29.5711 24.8676 29.5205 25.4314 29.333 25.956V26.019Z" fill="white"/>
							</svg>
						a._social(href='#')
							<svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M21.5 0C9.908 0 0.5 9.408 0.5 21C0.5 32.592 9.908 42 21.5 42C33.092 42 42.5 32.592 42.5 21C42.5 9.408 33.092 0 21.5 0ZM31.244 14.28C30.929 17.598 29.564 25.662 28.871 29.379C28.577 30.954 27.989 31.479 27.443 31.542C26.225 31.647 25.301 30.744 24.125 29.967C22.277 28.749 21.227 27.993 19.442 26.817C17.363 25.452 18.707 24.696 19.904 23.478C20.219 23.163 25.595 18.27 25.7 17.829C25.7146 17.7622 25.7126 17.6929 25.6943 17.627C25.676 17.5611 25.6419 17.5007 25.595 17.451C25.469 17.346 25.301 17.388 25.154 17.409C24.965 17.451 22.025 19.404 16.292 23.268C15.452 23.835 14.696 24.129 14.024 24.108C13.268 24.087 11.84 23.688 10.769 23.331C9.446 22.911 8.417 22.68 8.501 21.945C8.543 21.567 9.068 21.189 10.055 20.79C16.187 18.123 20.261 16.359 22.298 15.519C28.136 13.083 29.333 12.663 30.131 12.663C30.299 12.663 30.698 12.705 30.95 12.915C31.16 13.083 31.223 13.314 31.244 13.482C31.223 13.608 31.265 13.986 31.244 14.28Z" fill="white"/>
							</svg>
						a._social(href='#')
							<svg width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="0.5" width="44" height="44" rx="22" fill="white"/>
							<path d="M15.2609 13.6619C15.3315 13.5912 15.3668 13.5559 15.3979 13.5273C16.1631 12.8242 17.3392 12.8242 18.1044 13.5273C18.1355 13.5559 18.1708 13.5912 18.2415 13.6619L19.6996 15.1201C20.5017 15.9221 20.7311 17.1334 20.2778 18.1731C19.8246 19.2129 20.054 20.4242 20.856 21.2262L23.2529 23.623C24.0549 24.4251 25.2661 24.6545 26.3059 24.2012C27.3457 23.748 28.557 23.9774 29.359 24.7794L30.8172 26.2376C30.8879 26.3083 30.9232 26.3436 30.9518 26.3747C31.6548 27.1399 31.6548 28.316 30.9518 29.0811C30.9232 29.1123 30.8878 29.1476 30.8172 29.2182L29.9309 30.1046C29.2091 30.8264 28.1685 31.1294 27.1721 30.9079C20.3825 29.3991 15.0799 24.0966 13.5712 17.307C13.3497 16.3105 13.6527 15.27 14.3745 14.5482L15.2609 13.6619Z" stroke="#03052C" stroke-width="1.5"/>
							</svg>

		._lower.flex.jcc
			nav._nav
				ul._menu.flex.aic.jcc.fwrap
					li._menu-item.-active
						a._menu-link(href='#') День рождения
					li._menu-item.-has-submenu
						a._menu-link(href='#') Выбрать праздник
						ul._submenu
							li._menu-item
								a._menu-link(href='#') День рождения
							li._menu-item
								a._menu-link(href='#') VIP
							li._menu-item
								a._menu-link(href='#') Выпускной
							li._menu-item
								a._menu-link(href='#') Ёлки
					li._menu-item
						a._menu-link(href='#') Билеты
					li._menu-item
						a._menu-link(href='#') Сертификаты
					li._menu-item
						a._menu-link(href='#') Акции
					li._menu-item
						a._menu-link(href='#') Цены
					li._menu-item
						a._menu-link(href='#') Адреса парков
					li._menu-item
						a._menu-link(href='#') Развлечения для детей
					li._menu-item
						a._menu-link(href='#') Франшиза
