+breadcrumbs

section.cc-vip-hero.cc-outer
	._wrapper.cc-wrapper
		._container.relative.js-cc-vip-hero-container.js-cc-parallax-container
			._title-container.img-contain
				img._title.cc-desktop(src='../images/vip-hero.svg', alt='#')
				img._title.cc-mobile(src='../images/vip-hero-mobile.svg', alt='#')
			._crown-container.absolute.img-contain.js-cc-parallax-element
				img._crown(src='../images/vip-hero-crown.png', alt='#')
			._trophy-container.absolute.img-contain.js-cc-parallax-element
				img._trophy(src='../images/vip-hero-trophy.png', alt='#')

section.cc-vip-limousine.cc-outer
	._wrapper.cc-wrapper
		._container.relative.js-cc-vip-limousine-container
			._title-container
				h2._title.cc-heading-2
					span Создайте свой
					span СЦЕНАРИЙ
					span ПРАЗДНИКА
			._description-container
				p._description Лимузин или другой любой транспорт на выбор
			._note-container
				p._note Аниматоры приезжают домой за именинником, довезут в наш парк

			._limousine-container.absolute.img-contain.js-cc-vip-limousine
				img._limousine(src='../images/limousine.png', alt='#', loading='lazy')

