+breadcrumbs

section.cc-vip-hero.cc-outer
	._wrapper.cc-wrapper
		._container.relative.js-cc-vip-hero-container.js-cc-parallax-container
			._title-container.img-contain
				img._title.cc-desktop(src='../images/vip-hero.svg', alt='#')
				img._title.cc-mobile(src='../images/vip-hero-mobile.svg', alt='#')
			._crown-container.absolute.img-contain.js-cc-parallax-element
				img._crown(src='../images/vip-hero-crown.png', alt='#')
			._trophy-container.absolute.img-contain.js-cc-parallax-element
				img._trophy(src='../images/vip-hero-trophy.png', alt='#')

section.cc-vip-limousine.cc-outer
	._wrapper.cc-wrapper
		._container.relative.js-cc-vip-limousine-container
			._title-container
				h2._title.cc-heading-2
					span Создайте свой
					span СЦЕНАРИЙ
					span ПРАЗДНИКА
			._description-container
				p._description Лимузин или другой любой транспорт на выбор
			._note-container
				p._note Аниматоры приезжают домой за именинником, довезут в наш парк

			._limousine-container.absolute.img-contain.js-cc-vip-limousine
				img._limousine(src='../images/limousine.png', alt='#', loading='lazy')

.cc-parallax-main-container.js-cc-parallax-main-container

	section.cc-vip-animation-programs.cc-outer
		._wrapper.cc-wrapper
			._title-container
				h2._title.cc-heading-2 Две анимационные программы
			._content.flex.jcspb
				._note-container
					span._note Аниматор и ростовая кукла
				._image-container.img-contain.relative
					img._image(src='../images/vip-animations.png', alt='#', loading='lazy')

	section.cc-vip-photo-zone.cc-outer
		._wrapper.cc-wrapper
			._container.relative.js-cc-vip-photo-zone-container
				._image-container.absolute.img-contain.js-cc-vip-photo-zone
					img._image(src='../images/vip-photo-zone.png', alt='#', loading='lazy')
				._title-container.relative
					h2._title.cc-heading-2 Организация фотозоны

	section.cc-vip-video-photo.cc-outer
		._wrapper.cc-wrapper
			._container.relative.flex.js-cc-vip-video-photo-container
				._side.-video.absolute
					._title-container
						h2._title.cc-heading-2 видеограф
					._image-container.img-contain.absolute.js-cc-vip-video-photo
						img._image(src='../images/camera.png', alt='#', loading='lazy')
				._side.-photo.absolute
					._title-container
						h2._title.cc-heading-2 Фотограф
					._image-container.img-contain.absolute.js-cc-vip-video-photo
						img._image(src='../images/photo.png', alt='#', loading='lazy')

section.cc-vip-show.cc-outer
	._wrapper.cc-wrapper
