@import '../helpers';

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	font-size: $base-font-size;

	@media (min-width: 1440px) {
		font-size: $html-font-size;
	}
	@include lg-down {
		font-size: $base-font-size-lg;
	}
	@include md-down {
		font-size: $font-size-calc-md;
	}
}

body {
	font: normal 400 1em/1.5 $font-family-primary;
	word-break: break-word;
	max-width: 100dvw;
	min-height: 100dvh;
	min-width: 320px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.cc-main {
	overflow: hidden;
	flex-grow: 1;
	width: 100%;
	margin-block: inEm(-17px);

	@include md-down {
		margin-block: inEmMob(-16px);
	}
}

.cc-outer {
	width: 100%;
	padding-inline: $base-outer-padding-desktop;

	@include lg-down {
		padding-inline: $base-outer-padding-mobile;
	}
}

.cc-wrapper {
	width: 100%;
	max-width: calc($base-container-width - $base-outer-padding-desktop * 2);
	margin-inline: auto;
}
